<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Tables</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<!-- VENDOR CSS -->
	<link rel="stylesheet" th:href="@{|/static/js/vendor/bootstrap/css/bootstrap.min.css|}">
	<link rel="stylesheet" th:href="@{|/static/js/vendor/font-awesome/css/font-awesome.min.css|}">
	<link rel="stylesheet" th:href="@{|/static/js/vendor/linearicons/style.css|}">
	<!-- MAIN CSS -->
	<link rel="stylesheet" th:href="@{|/static/css/main.css|}">
	<!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
	<link rel="stylesheet" th:href="@{|/static/css/demo.css|}">
	<!--LAYUI CSS-->
	<link rel="stylesheet" th:href="@{|/static/js/layui/css/layui.css|}">
	<!--ZTREE CSS-->
	<link rel="stylesheet" th:href="@{|/static/ztree/zTreeStyle.css|}">
	<!-- GOOGLE FONTS -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
	<!-- ICONS -->
	<link rel="apple-touch-icon" sizes="76x76" th:href="@{|/static/img/apple-icon.png|}">
	<link rel="icon" type="image/png" sizes="96x96" th:href="@{|/static/img/favicon.png|}">
	<!-- Javascript -->
	<script th:src="@{|/static/js/vendor/jquery/jquery.min.js|}"></script>
	<script th:src="@{|/static/js/vendor/bootstrap/js/bootstrap.min.js|}"></script>
	<script th:src="@{|/static/js/vendor/jquery-slimscroll/jquery.slimscroll.min.js|}"></script>
	<script th:src="@{|/static/js/scripts/klorofil-common.js|}"></script>
	<script th:src="@{|/static/js/layer/layer.js|}"></script>
	<script th:src="@{|/static/js/layui/layui.js|}"></script>
	<script th:src="@{|/static/js/common.js|}"></script>
	<script th:src="@{|/static/ztree/jquery.ztree.all-3.5.min.js|}"></script>
	<style>
		/*#footer {*/
			/*padding: 15px 0;*/
			/*background: #fff;*/
			/*border-top: 1px solid #ddd;*/
			/*text-align: center;*/
		/*}*/
		.seltype {
			position: absolute;
			margin-top: 30px;
			margin-left: 10px;
			color: red;
		}
	</style>
</head>

<body>
<!-- WRAPPER -->
<div id="wrapper">
	<!-- NAVBAR -->
	<div id="header" th:include="/commons/header :: headerContext"></div>
	<!-- END NAVBAR -->
	<!-- LEFT SIDEBAR -->
	<div id="left_sidebar" th:include="/commons/left_sidebar :: leftContext"></div>
	<!-- END LEFT SIDEBAR -->
	<!-- MAIN -->
	<div class="main">
		<!-- MAIN CONTENT -->
		<div class="main-content">
			<div class="container-fluid">
				<!--<h3 class="page-title">Tables</h3>-->
				<ol class="breadcrumb">
					<li><a th:href="@{|#|}">首页</a></li>
					<li><a th:href="@{|#|}">资源管理</a></li>
					<li class="active">工单管理</li>
				</ol>
				<div class="row">
					<div class="col-md-12">
						<!-- BASIC TABLE -->
						<div class="panel">
							<div class="panel-body">
								<div class="page-header">
									<h2>新建工单 - 请选择工单类型</h2>
								</div>
								<div style="padding-top:10px;">
									<div class="row">
										<div class="col-xs-6 col-md-3">
											<h3>建设工单</h3>
											<a href="#" class="thumbnail" order_type="construction_order">
												<img alt="100%x180" src="img/services-box1.jpg" data-holder-rendered="true" style="height: 180px; width: 100%; display: block;">
											</a>
										</div>
										<div class="col-xs-6 col-md-3">
											<h3>迁移工单</h3>
											<a href="#" class="thumbnail" order_type="migration_order">
												<img alt="100%x180" src="img/services-box2.jpg" data-holder-rendered="true" style="height: 180px; width: 100%; display: block;">
											</a>
										</div>
										<div class="col-xs-6 col-md-3">
											<h3>拆机工单</h3>
											<a href="#" class="thumbnail" order_type="removement_order">
												<img alt="100%x180" src="img/services-box3.jpg" data-holder-rendered="true" style="height: 180px; width: 100%; display: block;">
											</a>
										</div>
										<div class="col-xs-6 col-md-3">
											<h3>资源维护工单</h3>
											<a href="#" class="thumbnail" order_type="maintaining_order">
												<img alt="100%x180" src="img/services-box4.jpg" data-holder-rendered="true" style="height: 180px; width: 100%; display: block;">
											</a>
										</div>
									</div>
									<button type="button" class="btn btn-danger btn-lg btn-block" id="addBtn">创建工单</button>

							</div>
						</div>
						<!-- END BASIC TABLE -->
					</div>
					</div>
				</div>

			</div>
		</div>
		<!-- END MAIN CONTENT -->
	</div>
	<!-- END MAIN -->

	<div class="clearfix"></div>
	<div id="footer" th:include="/commons/footer :: footerContext"></div>
</div>
	<!-- END WRAPPER -->
<script type="text/javascript">
	var order_type;

	$(function () {
        $.each($(".thumbnail img"), function(i, n){
            $(this).attr("src", "[[@{|/static/|}]]" + $(this).attr("src"));
        });


    })

    $(".thumbnail").click(function(){
        $('.seltype').remove();
        $(this).prepend('<div class="glyphicon glyphicon-ok seltype"></div>');
        order_type = $(this).attr("order_type");
    });

    $("#addBtn").click(function(){
        // 判断工单类型是否被选中
        var len = $('.seltype').length;
        if ( len == 0 ) {
            layer.msg("请先选择创建的工单类型", {time:1000, icon:5, shift:6});
        } else {
            //跳转至类型判断控制器
			window.location.href="[[@{|/order/myorder/dispatchCreateOrderPage/|}]]" + order_type;
        }
    });

</script>
</body>

</html>
