<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Tables</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!-- VENDOR CSS -->
    <link rel="stylesheet" th:href="@{|/static/js/vendor/bootstrap/css/bootstrap.min.css|}">
    <link rel="stylesheet" th:href="@{|/static/js/vendor/font-awesome/css/font-awesome.min.css|}">
    <link rel="stylesheet" th:href="@{|/static/js/vendor/linearicons/style.css|}">
    <!-- MAIN CSS -->
    <link rel="stylesheet" th:href="@{|/static/css/main.css|}">
    <!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
    <link rel="stylesheet" th:href="@{|/static/css/demo.css|}">
    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    <!-- ICONS -->
    <link rel="apple-touch-icon" sizes="76x76" th:href="@{|/static/img/apple-icon.png|}">
    <link rel="icon" type="image/png" sizes="96x96" th:href="@{|/static/img/favicon.png|}">
    <!-- Javascript -->
    <script th:src="@{|/static/js/vendor/jquery/jquery.min.js|}"></script>
    <script th:src="@{|/static/js/vendor/bootstrap/js/bootstrap.min.js|}"></script>
    <script th:src="@{|/static/js/vendor/jquery-slimscroll/jquery.slimscroll.min.js|}"></script>
    <script th:src="@{|/static/js/scripts/klorofil-common.js|}"></script>
    <script th:src="@{|/static/js/layer/layer.js|}"></script>
    <script th:src="@{|/static/js/common.js|}"></script>
</head>

<body>
<!-- WRAPPER -->
<div id="wrapper">
    <!-- NAVBAR -->
    <div id="header" th:include="/commons/header :: headerContext"></div>
    <!-- END NAVBAR -->
    <!-- LEFT SIDEBAR -->
    <div id="left_sidebar" th:include="/commons/left_sidebar :: leftContext"></div>
    <!-- END LEFT SIDEBAR -->
    <!-- MAIN -->
    <div class="main">
        <!-- MAIN CONTENT -->
        <div class="main-content">
            <div class="container-fluid">
                <!--<h3 class="page-title">Tables</h3>-->
                <ol class="breadcrumb">
                    <li><a th:href="@{|#|}">首页</a></li>
                    <li><a th:href="@{|#|}">资源管理</a></li>
                    <li class="active">工单管理</li>
                </ol>
                <div class="row">
                    <div class="col-md-12">
                        <!-- BASIC TABLE -->
                        <div class="panel">
                            <div class="panel-body">
                                <!--<form id="form">-->
                                    <div class="form-group">
                                        <input type="hidden" class="form-control" name="type" id="fid">
                                    </div>
                                    <div class="form-group">
                                        <label for="ftype">工单类型</label>
                                        <input type="text" class="form-control" name="type" id="ftype" value="建设工单" disabled>
                                    </div>
                                    <div class="form-group">
                                        <label for="ftitle">标题</label>
                                        <input type="text" class="form-control" name="title" id="ftitle">
                                    </div>
                                    <div class="form-group">
                                        <label for="fapprovalLinkId">审批链</label>
                                        <input type="text" class="form-control" name="approvalLinkId" id="fapprovalLinkId" >
                                    </div>
                                    <div class="form-group">
                                        <label for="fapplyDepartment">申请部门</label>
                                        <select class="form-control" name="applyDepartment" id="fapplyDepartment">
                                            <option value="" text="" selected="selected"></option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="fproposer">申请人</label>
                                        <input type="text" class="form-control" name="proposer" id="fproposer" >
                                    </div>
                                    <div class="form-group">
                                        <label for="fcontact">联系方式</label>
                                        <input type="text" class="form-control" name="contact" id="fcontact" value="">
                                    </div>
                                    <div class="form-group">
                                        <label for="freason">申请原因</label>
                                        <!--<input type="textarea"  rows="5" cols="30" class="form-control" name="reason" id="freason">-->
                                        <textarea  rows="5" cols="30" class="form-control" name="reason" id="freason">
                                        </textarea>
                                    </div>
                            </div>
                            <div class="panel-body">
                                <div class="container-fluid">
                                    <div class="row clearfix">
                                        <div class="col-md-12 column">
                                            <blockquote style="border-left: 5px solid #f60;color:#f60;padding: 0 0 0 20px;">
                                                <b>
                                                    装机明细
                                                </b>
                                            </blockquote>
                                        </div>
                                        <div class="col-md-12 column">
                                            <table id="detailList" class="table table-bordered" style="text-align:center;">
                                                <thead>
                                                <tr class="success">
                                                    <td>序号</td>
                                                    <td>运营商</td>
                                                    <td>资源类型</td>
                                                    <td>装机数量</td>
                                                    <td>资费</td>
                                                    <td>职场地址</td>
                                                    <td>所在机房</td>
                                                    <td>所属项目</td>
                                                    <td>pdf模板</td>
                                                    <td>操作</td>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <!--<td    scope="row">1</td>-->
                                                    <!--<td>￥1.00</td>-->
                                                    <!--<td>无限制</td>-->
                                                    <!--<td>1</td>-->
                                                    <!--<td>1</td>-->
                                                    <!--<td>项目结束后的30天</td>-->
                                                    <!--<td>包邮</td>-->
                                                    <!--<td>-->
                                                        <!--<button type="button" class="btn btn-primary btn-xs"><i class=" glyphicon glyphicon-pencil"></i></button>-->
                                                        <!--<button type="button" class="btn btn-danger btn-xs"><i class=" glyphicon glyphicon-remove"></i></button>-->
                                                    <!--</td>-->
                                                </tr>
                                                </tbody>
                                            </table>
                                            <button type="button" class="btn btn-primary btn-lg" data-toggle="collapse"  data-target="#addDetail"><i class="glyphicon glyphicon-plus"></i> 添加装机明细</button><div style="border:10px solid #f60;border-bottom-color: #eceeef;border-width: 10px;width:20px;margin-left:20px;border-left-color: rgba(221, 221, 221, 0);border-top-color: rgba(221, 221, 221, 0);border-right-color: rgba(221, 221, 221, 0);"></div>
                                            <div class="panel panel-default panel-collapse collapse" id="addDetail" style="border-style: dashed;background-color:#eceeef">
                                                <div class="panel-body">

                                                    <div class="col-md-12 column">
                                                        <form id="forder_detail" class="form-horizontal">
                                                            <div class="form-group">
                                                                <label class="col-sm-2 control-label">运营商</label>
                                                                <div class="col-sm-4">
                                                                    <label class="select-inline">
                                                                        <!--<input type="radio" name="operator" value="电信"> 电信-->
                                                                        <select class="form-control" style="width:200px;display:inline" id="foperator" name="operator">
                                                                            <option>电信</option>
                                                                            <option>联通</option>
                                                                        </select>
                                                                    </label>
                                                                </div>
                                                                <label class="col-sm-2 control-label">资源类型</label>
                                                                <div class="col-sm-4">
                                                                    <label class="select-inline">
                                                                        <select class="form-control" style="width:200px;display:inline" id="fresourceType" name="resourceType">
                                                                            <option>电话</option>
                                                                            <option>宽带</option>
                                                                            <option>专线</option>
                                                                        </select>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="col-sm-2 control-label">装机数量</label>
                                                                <div class="col-sm-4">
                                                                    <input type="number" class="form-control" style="width:200px;display:inline" id="fnumber" name="number">
                                                                </div>
                                                                <label class="col-sm-2 control-label">资费</label>
                                                                <div class="col-sm-4">
                                                                    <input type="number" class="form-control" style="width:200px;display:inline" id="fexpense" name="expense">
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="col-sm-2 control-label">所在职场</label>
                                                                <div class="col-sm-10">
                                                                    <select class="form-control" style="width:620px;display:inline" id="fworkplace" name="workplace.address">
                                                                        <option>广发金融大厦17楼</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="col-sm-2 control-label">机房</label>
                                                                <div class="col-sm-10">
                                                                    <select class="form-control" style="width:200px;display:inline" id="fnetworkRoom" name="networkRoom.name">
                                                                        <option>机房1</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="col-sm-2 control-label">所属项目</label>
                                                                <div class="col-sm-10">
                                                                    <select class="form-control" style="width:620px;display:inline" id="fproject" name="project.projectName">
                                                                        <option>xx职场搬迁项目</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="col-sm-2 control-label">pdf模板</label>
                                                                <div class="col-sm-10">
                                                                    <select class="form-control" style="width:100px;display:inline" id="ftemplateType" name="template.templateType">
                                                                        <option>电话</option>
                                                                        <option>宽带</option>
                                                                        <option>专线</option>
                                                                    </select>
                                                                    <select class="form-control" style="width:260px;display:inline" id="ftemplateUseage" name="template.templateUseage">
                                                                        <option>新装</option>
                                                                        <option>迁移</option>
                                                                        <option>拆机</option>
                                                                    </select>
                                                                    <select class="form-control" style="width:260px;display:inline" id="ftemplateName" name="template.templateName">
                                                                        <option>模板1</option>
                                                                        <option>模板2</option>
                                                                        <option>模板3</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <input type="hidden" name="user.username" th:value="${session.user.username}">
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="col-sm-2 control-label"></label>
                                                                <div class="col-sm-10">
                                                                    <button id="addBtn" type="button" class="btn btn-primary">添加</button>
                                                                    <button type="reset" class="btn btn-default">重置</button>
                                                                </div>
                                                            </div>

                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <button id="saveBtn" type="button" class="btn btn-success">保存</button>
                                                <button id="resetBtn" type="reset" class="btn btn-warning">重置</button>
                                                <button id="auditBtn" class="btn btn-danger">提交审核</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END MAIN CONTENT -->
    </div>
    <!-- END MAIN -->
    <div class="clearfix"></div>
    <div id="footer" th:include="/commons/footer :: footerContext"></div>
<!-- END WRAPPER -->
</div>
<script type="text/javascript">

    var loadingIndex = -1;
    //定义一个json接收工单数据，用于临时存放，临时数据的增删改查都在这个json数据中处理
    var order_detail_obj = new Array();

    $(function () {
        showDetail(order_detail_obj);
    })

    $("#addBtn").click(function () {
        var dataArray = {};
        var formData = $("#forder_detail").serializeArray();
        $.each(formData,function(){
            //var name = this.name;
            var value = this.value;
            //分割name属性，并返回一个数组
            var paths = this.name.split(".");
            //返回数组的长度
            var len = paths.length;
            var obj = dataArray;
            $.each(paths,function(i,e){
                //判断当前的遍历的数据是否有二级数组；i == len-1 为true说明是二级数组，false说明为一级数组
                if(i == len-1){
                    //判断该数组是否存在当前遍历的属性
                    if (obj[e]) {
                        //push()方法的返回值是把指定的值添加到数组后的新长度，
                        // "!"是一个布尔操作符，用于将操作的值强制转换为布尔值并取反,
                        // 即!obj[e].push的值为false
                        if (!obj[e].push) {
                            obj[e] = [obj[e]];
                        }
                        obj[e].push(value || '');
                    } else {
                        obj[e] = value || '';
                    }
                }else{
                    //如一级数组不为空，则将值设置为{}
                    if(!obj[e]){
                        obj[e] = {};
                    }
                }
                obj = dataArray[e];
            });

        });
        order_detail_obj.push(dataArray)
        showDetail(order_detail_obj);
    })



    function showDetail(order_detail_obj) {

        //order_detail_obj = [{operator:"电信",resourceType:"电话",number:"2",expense:"100",workplace:{address:"东莞市南城区石竹路广发金融大厦17楼"},networkRoom:{name:"机房1"},createtime:"2019-09-23",user:{username:"麦泽良"}}];

        var content = '';

        $.each(order_detail_obj,function(i,n){
            content+='<tr>';
            content+='  <td>'+(i+1)+'</td>';
            content+='  <td>'+n.operator+'</td>';
            content+='  <td>'+n.resourceType+'</td>';
            content+='  <td>'+n.number+'</td>';
            content+='  <td>'+n.expense+'</td>';
            content+='  <td>'+n.workplace.address + '</td>';
            content+='  <td>'+n.networkRoom.name+'</td>';
            content+='  <td>'+n.project.projectName+'</td>';
            content+='  <td>'+n.template.templateName+'</td>';
            // content+='  <td>'+n.createtime+'</td>';
            // content+='  <td>'+n.user.username+'</td>';
            content+='  <td>';
            // content+='	  <button type="button" class="btn btn-primary btn-xs"><i class=" glyphicon glyphicon-pencil"></i></button>';
            content+='	  <button type="button" onclick="deleteBtn('+i+')" class="btn btn-danger btn-xs delteBtn" value="aaa"><i class=" glyphicon glyphicon-remove"></i></button>';
            content+='  </td>';
            content+='</tr>';
        });
        $("tbody").html(content);

    }

    function deleteBtn(i) {
        layer.confirm("确定要删除此行记录吗？" ,{icon: 3, title:'提示'}, function(cindex){
            layer.close(cindex);
            order_detail_obj.splice(i,1);
            showDetail(order_detail_obj);
        },function (cindex) {
            layer.close(cindex);
        })
    }


        // layer.confirm("确定要删除此行记录吗？" ,{icon: 3, title:'提示'}, function(cindex){
        //     layer.close(cindex);
        //     console.log($(this))
        //     showDetail(order_detail_obj)
        // },function (cindex) {
        //     layer.close(cindex);
        // })


        // layer.confirm("确定要删除此行记录吗？",  {icon: 3, title:'提示'}, function(cindex){
        //     layer.close(cindex);
        //     this.parents().parents().remove();
        //     showDetail(order_detail_obj)
        // }, function(cindex){
        //     layer.close(cindex);
        // });
        // layer.confirm("确定要删除此行记录吗？" ,{icon: 3, title:'提示'}, function(cindex){
        //     layer.close(cindex);
        //     this.parents().parents().remove();
        //     showDetail(order_detail_obj)
        // },function (cindex) {
        //     layer.close(cindex);
        // })


</script>

</body>

</html>
