<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Tables</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!-- VENDOR CSS -->
    <link rel="stylesheet" th:href="@{|/static/js/vendor/bootstrap/css/bootstrap.min.css|}">
    <link rel="stylesheet" th:href="@{|/static/js/vendor/font-awesome/css/font-awesome.min.css|}">
    <link rel="stylesheet" th:href="@{|/static/js/vendor/linearicons/style.css|}">
    <!-- MAIN CSS -->
    <link rel="stylesheet" th:href="@{|/static/css/main.css|}">
    <!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
    <link rel="stylesheet" th:href="@{|/static/css/demo.css|}">
    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    <!-- ICONS -->
    <link rel="apple-touch-icon" sizes="76x76" th:href="@{|/static/img/apple-icon.png|}">
    <link rel="icon" type="image/png" sizes="96x96" th:href="@{|/static/img/favicon.png|}">
    <!-- Javascript -->
    <script th:src="@{|/static/js/vendor/jquery/jquery.min.js|}"></script>
    <script th:src="@{|/static/js/vendor/bootstrap/js/bootstrap.min.js|}"></script>
    <script th:src="@{|/static/js/vendor/jquery-slimscroll/jquery.slimscroll.min.js|}"></script>
    <script th:src="@{|/static/js/scripts/klorofil-common.js|}"></script>
    <script th:src="@{|/static/js/layer/layer.js|}"></script>
    <script th:src="@{|/static/js/common.js|}"></script>
</head>

<body>
<!-- WRAPPER -->
<div id="wrapper">
    <!-- NAVBAR -->
    <div id="header" th:include="/commons/header :: headerContext"></div>
    <!-- END NAVBAR -->
    <!-- LEFT SIDEBAR -->
    <div id="left_sidebar" th:include="/commons/left_sidebar :: leftContext"></div>
    <!-- END LEFT SIDEBAR -->
    <!-- MAIN -->
    <div class="main">
        <!-- MAIN CONTENT -->
        <div class="main-content">
            <div class="container-fluid">
                <!--<h3 class="page-title">Tables</h3>-->
                <ol class="breadcrumb">
                    <li><a th:href="@{|#|}">首页</a></li>
                    <li><a th:href="@{|#|}">资源管理</a></li>
                    <li class="active">工单管理</li>
                </ol>
                <div class="row">
                    <div class="col-md-12">
                        <!-- BASIC TABLE -->
                        <div class="panel">
                            <div class="panel-body">
                                <!--<form id="form">-->
                                    <div class="form-group">
                                        <label for="ftype">工单类型</label>
                                            <!--<input type="text" class="form-control" name="orderstype" id="forderstype" disabled th:value="${order.orderstype}">-->
                                            <input type="text" class="form-control" name="type" id="ftype" disabled>
                                        </div>
                                    <div class="form-group">
                                        <label for="fstatus">资源状态</label>
                                        <input type="text" class="form-control" name="status" id="fstatus" disabled>
                                    </div>
                                    <div class="form-group">
                                        <label for="ftitle">标题</label>
                                        <input type="text" class="form-control" name="title" id="ftitle">
                                    </div>
                                    <div class="form-group">
                                        <label for="fapprovalLinkId">审批链</label>
                                        <input type="text" class="form-control" name="approvalLinkId" id="fapprovalLinkId" >
                                    </div>
                                    <div class="form-group">
                                        <label for="fapplyDepartment">申请部门</label>
                                        <select class="form-control" name="applyDepartment" id="fapplyDepartment">
                                            <option value="" text="" selected="selected"></option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="fproposer">申请人</label>
                                        <input type="text" class="form-control" name="proposer" id="fproposer" >
                                    </div>
                                    <div class="form-group">
                                        <label for="fcontact">联系方式</label>
                                        <input type="text" class="form-control" name="contact" id="fcontact" value="">
                                    </div>
                                    <div class="form-group">
                                        <label for="freason">申请原因</label>
                                        <!--<input type="textarea"  rows="5" cols="30" class="form-control" name="reason" id="freason">-->
                                        <textarea  rows="5" cols="30" class="form-control" name="reason" id="freason">
                                        </textarea>
                                    </div>
                            </div>
                            <div class="panel-body">

                                <div class="container-fluid">
                                    <div class="row clearfix">
                                        <div class="col-md-12 column">
                                            <blockquote style="border-left: 5px solid #f60;color:#f60;padding: 0 0 0 20px;">
                                                <b>
                                                    装机明细
                                                </b>
                                            </blockquote>
                                        </div>
                                        <div class="col-md-12 column">
                                            <table class="table table-bordered" style="text-align:center;">
                                                <thead>
                                                <tr style="background-color:#ddd;">
                                                    <td>序号</td>
                                                    <td>运营商</td>
                                                    <td>资源类型</td>
                                                    <td>装机数量</td>
                                                    <td>资费</td>
                                                    <td>所在机房</td>
                                                    <td>所属项目</td>
                                                    <td>pdf模板</td>
                                                    <td>操作</td>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <!--<td    scope="row">1</td>-->
                                                    <!--<td>￥1.00</td>-->
                                                    <!--<td>无限制</td>-->
                                                    <!--<td>1</td>-->
                                                    <!--<td>1</td>-->
                                                    <!--<td>项目结束后的30天</td>-->
                                                    <!--<td>包邮</td>-->
                                                    <!--<td>-->
                                                        <!--<button type="button" class="btn btn-primary btn-xs"><i class=" glyphicon glyphicon-pencil"></i></button>-->
                                                        <!--<button type="button" class="btn btn-danger btn-xs"><i class=" glyphicon glyphicon-remove"></i></button>-->
                                                    <!--</td>-->
                                                </tr>
                                                </tbody>
                                            </table>
                                            <button type="button" class="btn btn-primary btn-lg"><i class="glyphicon glyphicon-plus"></i> 添加回报</button><div style="border:10px solid #f60;border-bottom-color: #eceeef;border-width: 10px;width:20px;margin-left:20px;border-left-color: rgba(221, 221, 221, 0);border-top-color: rgba(221, 221, 221, 0);border-right-color: rgba(221, 221, 221, 0);"></div>
                                            <div class="panel panel-default" style="border-style: dashed;background-color:#eceeef">
                                                <div class="panel-body">

                                                    <div class="col-md-12 column">
                                                        <form class="form-horizontal">
                                                            <div class="form-group">
                                                                <label class="col-sm-2 control-label">运营商</label>
                                                                <div class="col-sm-4">
                                                                    <label class="select-inline">
                                                                        <!--<input type="radio" name="operator" value="电信"> 电信-->
                                                                        <select class="form-control" style="width:200px;display:inline">
                                                                            <option>电信</option>
                                                                            <option>联通</option>
                                                                        </select>
                                                                    </label>
                                                                </div>
                                                                <label class="col-sm-2 control-label">资源类型</label>
                                                                <div class="col-sm-4">
                                                                    <label class="select-inline">
                                                                        <select class="form-control" style="width:200px;display:inline">
                                                                            <option>电话</option>
                                                                            <option>宽带</option>
                                                                            <option>专线</option>
                                                                        </select>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="col-sm-2 control-label">装机数量</label>
                                                                <div class="col-sm-4">
                                                                    <input type="number" class="form-control" style="width:200px;display:inline">
                                                                </div>
                                                                <label class="col-sm-2 control-label">资费</label>
                                                                <div class="col-sm-4">
                                                                    <input type="number" class="form-control" style="width:200px;display:inline">
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="col-sm-2 control-label">说明图片</label>
                                                                <div class="col-sm-10">
                                                                    <button type="button" class="btn btn-primary btn-lg active">上传图片</button>
                                                                    <label class="control-label">支持jpg、jpeg、png、gif格式，大小不超过2M，建议尺寸：760*510px选择文件</label>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="col-sm-2 control-label">回报数量（名）</label>
                                                                <div class="col-sm-10">
                                                                    <input type="text" class="form-control" style="width:100px;display:inline" >
                                                                    <label class="control-label">“0”为不限回报数量</label>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="col-sm-2 control-label">单笔限购</label>
                                                                <div class="col-sm-10">
                                                                    <label class="radio-inline">
                                                                        <input type="radio" name="inlineRadioOptions2" id="inlineRadio1" value="option1"> 不限购
                                                                    </label>
                                                                    <label class="radio-inline">
                                                                        <input type="radio" name="inlineRadioOptions2" id="inlineRadio2" value="option2"> 限购
                                                                    </label>
                                                                    <input type="text" class="form-control" style="width:100px;display:inline" >
                                                                    <label class="radio-inline">默认数量为1，且不超过上方已设置的回报数量</label>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="col-sm-2 control-label">运费(元)</label>
                                                                <div class="col-sm-10">
                                                                    <input type="text" class="form-control" style="width:100px;display:inline" value="0" >
                                                                    <label class="control-label">“0”为包邮</label>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="col-sm-2 control-label">发票</label>
                                                                <div class="col-sm-10">
                                                                    <label class="radio-inline">
                                                                        <input type="radio" name="inlineRadioOptions1" id="inlineRadio1" value="option1"> 不可开发票
                                                                    </label>
                                                                    <label class="radio-inline">
                                                                        <input type="radio" name="inlineRadioOptions1" id="inlineRadio2" value="option2"> 可开发票（包括个人发票和自定义抬头发票）
                                                                    </label>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="col-sm-2 control-label">回报时间</label>
                                                                <div class="col-sm-10">
                                                                    <label class="radio-inline">
                                                                        项目结束后
                                                                    </label>
                                                                    <input type="text" class="form-control" style="width:100px;display:inline" >
                                                                    <label class="radio-inline">天，向支持者发送回报</label>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="col-sm-2 control-label"></label>
                                                                <div class="col-sm-10">
                                                                    <button type="button" class="btn btn-primary">确定</button>
                                                                    <button type="button" class="btn btn-default">取消</button>
                                                                </div>
                                                            </div>

                                                        </form>
                                                    </div>


                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <button id="saveBtn" type="button" class="btn btn-success">保存</button>
                                                <button id="resetBtn" type="reset" class="btn btn-warning">重置</button>
                                                <button id="auditBtn" class="btn btn-danger">提交审核</button>
                                            </div>
                                        </div>

                                        <!--<div class="panel">-->
                                        <!--<div class="panel-head">-->
                                <!--<div class="panel-body">-->
                                    <!--<label for="ftable"></label>-->
                                    <!--<table class="table table-bordered table-hover" id="ftable">-->
                                        <!--<thead>-->
                                        <!--<tr class="success">-->
                                            <!--&lt;!&ndash;<td>序号</td>&ndash;&gt;-->
                                            <!--<td>运营商</td>-->
                                            <!--<td>资源类型</td>-->
                                            <!--<td>装机数量</td>-->
                                            <!--<td>资费</td>-->
                                            <!--<td>所在机房</td>-->
                                            <!--<td>所属项目</td>-->
                                            <!--<td>pdf模板</td>-->
                                            <!--<td>操作</td>-->
                                        <!--</tr>-->
                                        <!--</thead>-->
                                        <!--<tbody id="construction_detail">-->

                                        <!--</tbody>-->
                                    <!--</table>-->

                                <!--<hr>-->
                                <!--<div class="form-group">-->
                                    <!--<button id="addResource" type="button" class="btn btn-success">添加明细</button>-->
                                <!--</div>-->
                                        <!--&lt;!&ndash;<div class="panel-body "  style="border-style: dashed;background-color:#eceeef">&ndash;&gt;-->
                                        <!--&lt;!&ndash;<div class="panel-body "  style="background-color:#eceeef">&ndash;&gt;-->
                                <!--&lt;!&ndash;<div  class="col-sm-12">&ndash;&gt;-->
                                    <!--<div class="form-group" style="background-color:#eceeef" >-->
                                        <!--<label for="foperator">运营商</label>-->
                                        <!--<select id="foperator" name="operator" class="form-control">-->
                                            <!--<option value="0">请选择</option>-->
                                            <!--<option value="电信">电信</option>-->
                                            <!--<option value="联通">联通</option>-->
                                        <!--</select>-->

                                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<div class="form-group">&ndash;&gt;-->
                                        <!--<label for="fresourceType">资源类型</label>-->
                                        <!--<select id="fresourceType" name="resourceType" class="form-control">-->
                                            <!--<option value="0">请选择</option>-->
                                            <!--<option value="电话">电话</option>-->
                                            <!--<option value="宽带">宽带</option>-->
                                            <!--<option value="专线网络">专线网络</option>-->
                                        <!--</select>-->

                                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<div class="form-group">&ndash;&gt;-->
                                        <!--<label for="fnumber">装机数量</label>-->
                                        <!--<input type="number" class="form-control" id="fnumber" name="number">-->

                                        <!--<input type="hidden" class="form-control" name="creatorId" id="fcreatorId" value="" >-->
                                        <!--<input type="hidden" class="form-control" name="id" id="fid" value="">-->
                                    <!--</div>-->
                                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                <!--<div class="form-group">-->

                                    <!--<button id="saveBtn" type="button" class="btn btn-success">保存</button>-->
                                    <!--<button id="resetBtn" type="reset" class="btn btn-warning">重置</button>-->
                                    <!--<button id="auditBtn" class="btn btn-danger">提交审核</button>-->
                                <!--</div>-->

                                <!--</div>-->
                                <!--</form>-->
                        <!-- END BASIC TABLE -->
                    </div>
                    <!--</div>-->


            </div>
        </div>
        <!-- END MAIN CONTENT -->
    </div>
    <!-- END MAIN -->
    <div class="clearfix"></div>
    <div id="footer" th:include="/commons/footer :: footerContext"></div>

</div>
<!-- END WRAPPER -->
<script type="text/javascript">

    var loadingIndex = -1;



    function arrayToJson(formArray){
        var dataArray = {};
        $.each(formArray,function(){
            if(dataArray[this.name]){
                if(!dataArray[this.name].push){
                    dataArray[this.name] = [dataArray[this.name]];
                }
                dataArray[this.name].push(this.value || "");
            }else{
                dataArray[this.name] = this.value || "";
            }
        });
        return JSON.stringify(dataArray);
    }

    $(function () {
        //console.log(arrayToJson(formArray))
    })

    //保存数据
    $("#saveBtn").click(function () {
        var formArray = $("#form").serializeArray();
        var jsonObj = arrayToJson(formArray);
        $.ajax({
            type:"post",
            data:jsonObj,
            url:"[[@{|/order/myorder/doUpdate|}]]",
            dataType: 'json',
            contentType: 'application/json',
            beforeSend:function () {
                loadingIndex = layer.load(3, {time: 10*1000});
                return true;
            },
            success:function (result) {
                layer.close(loadingIndex);
                if(result.success == true){
                    layer.msg("保存成功",{icon:1, shift:5});
                }else{
                    layer.msg(result.message,{time:2000, icon:5, shift:5});
                }
            }
            // error:function (result) {
            //     layer.msg(result.message,{time:2000, icon:5, shift:5});
            // }
        })
    })

    //重置按钮
    $("#resetBtn").click(function () {
        $("#form")[0].reset();
    })

    //    $(function () {
    //        $("#deptNo").bind("change",selectSubDept());
    //    });


    // function selectSubDept(){
    //     var AccountDeptNo = $("#AccountDeptNo").val();
    //     //var parentDeptNo = dataOption;
    //     // console.log(parentDeptNo);
    //     // alert(parentDeptNo);
    //     //2.将职能部门下拉列表中原有的option进行删除
    //     $("#UseDeptNo>option:gt(0)").remove();
    //     //3.定位隶属于当前职能部门下的所有的子部门信息
    //     $.ajax({
    //         url:"/resource/selectSubDept/" + AccountDeptNo,
    //         type:"get",
    //         dataType: "json",
    //         success:function (result) {
    //             //var dataOption = "";
    //             $.each(result,function (index,value) {
    //                 var $dataOption = $("<option></option>");
    //                 // dataOption +=
    //                 //     "<option value=" + value.deptNo + ">" + value.deptName + "</option>";
    //                 $dataOption.text(value.deptname);
    //                 $dataOption.val(value.deptno);
    //                 $dataOption.appendTo($("#UseDeptNo"));
    //             })
    //         }
    //     });
    // }



</script>
</body>

</html>
