<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Tables</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!-- VENDOR CSS -->
    <link rel="stylesheet" th:href="@{|/static/js/vendor/bootstrap/css/bootstrap.min.css|}">
    <link rel="stylesheet" th:href="@{|/static/js/vendor/font-awesome/css/font-awesome.min.css|}">
    <link rel="stylesheet" th:href="@{|/static/js/vendor/linearicons/style.css|}">
    <!-- MAIN CSS -->
    <link rel="stylesheet" th:href="@{|/static/css/main.css|}">
    <!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
    <link rel="stylesheet" th:href="@{|/static/css/demo.css|}">
    <!--LAYUI CSS-->
    <link rel="stylesheet" th:href="@{|/static/js/layui/css/layui.css|}">
    <!--ZTREE CSS-->
    <link rel="stylesheet" th:href="@{|/static/ztree/zTreeStyle.css|}">
    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    <!-- ICONS -->
    <link rel="apple-touch-icon" sizes="76x76" th:href="@{|/static/img/apple-icon.png|}">
    <link rel="icon" type="image/png" sizes="96x96" th:href="@{|/static/img/favicon.png|}">
    <link rel="icon" type="image/png" th:href="@{|/static/droppable/img/del.png|}">
    <link rel="icon" type="image/png" th:href="@{|/static/droppable/img/infor.png|}">

    <link rel="stylesheet" th:href="@{|/static/droppable/css/reset.css|}">
    <link rel="stylesheet" th:href="@{|/static/droppable/css/sweet-alert.css|}">
    <link rel="stylesheet" th:href="@{|/static/droppable/css/select.css|}">

    <!-- Javascript -->
    <script th:src="@{|/static/js/vendor/jquery/jquery.min.js|}"></script>
    <script th:src="@{|/static/js/vendor/bootstrap/js/bootstrap.min.js|}"></script>
    <script th:src="@{|/static/js/vendor/jquery-slimscroll/jquery.slimscroll.min.js|}"></script>
    <!--<script th:src="@{|/static/js/klorofil-common.js|}"></script>-->
    <script th:src="@{|/static/js/layer/layer.js|}"></script>
    <script th:src="@{|/static/js/layui/layui.js|}"></script>
    <script th:src="@{|/static/js/vendor/common.js|}"></script>
    <script th:src="@{|/static/ztree/jquery.ztree.all-3.5.min.js|}"></script>
    <script th:src="@{|/static/droppable/js/jquery.min.js|}"></script>
    <script th:src="@{|/static/droppable/js/jquery-ui.min.js|}"></script>
    <script th:src="@{|/static/droppable/js/jquery.top-droppable.js|}"></script>
    <script th:src="@{|/static/droppable/js/sweet-alert.min.js|}"></script>
    <script th:src="@{|/static/js/vendor/jtopo/jtopo-min.js|}"></script>

</head>

<body>
<!-- WRAPPER -->
<div id="wrapper">
    <!-- NAVBAR -->
    <div id="header" th:include="/commons/header :: headerContext"></div>
    <!-- END NAVBAR -->
    <!-- LEFT SIDEBAR -->
    <div id="left_sidebar" th:include="/commons/left_sidebar :: leftContext"></div>
    <!-- END LEFT SIDEBAR -->
    <!-- MAIN -->
    <div class="main">
        <!-- MAIN CONTENT -->
        <div class="main-content">
            <div class="container-fluid">
                <!--<h3 class="page-title">Tables</h3>-->
                <ol class="breadcrumb">
                    <li><a th:href="@{|#|}">首页</a></li>
                    <li><a th:href="@{|#|}">资源管理</a></li>
                    <li class="active">工单管理</li>
                </ol>
                <div class="row">
                    <div class="col-md-12">
                        <!-- BASIC TABLE -->
                        <div class="panel">
                            <div class="panel-body">
                                <!--<div class="panel-header" style="padding-top: 20px">-->
                                    <!--<h1>资源与设备端口匹配</h1>-->
                                <!--</div>-->
                                <ul class="nav nav-tabs" role="tablist">
                                    <li role="presentation" class="active"><a><span class="badge">1</span>资源与设备端口匹配</a></li>
                                </ul>
                                <br>
                                <br>
                                <form class="form-horizontal" id="equipmentPortForm">
                                    <!--<div class="form-group">-->
                                        <!--&lt;!&ndash;<label class="control-label col-xs-2" >号码1：85820711</label>&ndash;&gt;-->
                                        <!--&lt;!&ndash;&lt;!&ndash;<div class="col-xs-2">&ndash;&gt;&ndash;&gt;-->
                                            <!--&lt;!&ndash;&lt;!&ndash;<input type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe">&ndash;&gt;&ndash;&gt;-->
                                        <!--&lt;!&ndash;&lt;!&ndash;</div>&ndash;&gt;&ndash;&gt;-->
                                        <!--&lt;!&ndash;<label class="control-label col-xs-2" >是否新设备：</label>&ndash;&gt;-->
                                        <!--&lt;!&ndash;<div class="col-xs-1">&ndash;&gt;-->
                                            <!--&lt;!&ndash;<input type="text" class="form-control" id="exampleInputName5" placeholder="Jane Doe">&ndash;&gt;-->
                                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                        <!--&lt;!&ndash;<label class="control-label col-xs-2" >选择设备：</label>&ndash;&gt;-->
                                        <!--&lt;!&ndash;<div class="col-xs-2">&ndash;&gt;-->
                                            <!--&lt;!&ndash;<input type="text" class="form-control" id="exampleInputName3" placeholder="Jane Doe">&ndash;&gt;-->
                                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                        <!--&lt;!&ndash;<label class="control-label col-xs-1" >端口号：</label>&ndash;&gt;-->
                                        <!--&lt;!&ndash;<div class="col-xs-2">&ndash;&gt;-->
                                            <!--&lt;!&ndash;<input type="text" class="form-control" id="exampleInputName1" placeholder="Jane Doe">&ndash;&gt;-->
                                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                    <!--</div>-->
                                </form>
                                <table class="table table-bordered" id="equipment_port">
                                    <thead>
                                        <tr class="success">
                                            <td>号码</td>
                                            <td>是否新设备</td>
                                            <td>选择新设备</td>
                                            <td>选择旧设备</td>
                                            <td>端口号</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="resource,interStat:${session.resourceList}">
                                            <td>
                                                <input type="text" th:value="${resource.resource_no}" disabled>
                                            </td>
                                            <td>
                                                是：<input type="radio" th:name="selecttype + '[' +${interStat.index } + ']'" value="1" onchange="changeYes(this)" />
                                                否：<input type="radio" th:name="selecttype + '[' +${interStat.index } + ']'" value="0" onchange="changeNo(this)" />
                                            </td>
                                            <td>
                                                <select th:id="fnew_equipment + '[' +${interStat.index } + ']'" >
                                                    <option value="">请选择</option>
                                                </select>
                                            </td>
                                            <td>
                                                <input type="text" value="" th:id="fold_equipment + '[' +${interStat.index } + ']'"  equipment_id="">
                                            </td>
                                            <td>
                                                <input type="text" value="">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <button type="button" class="btn btn-success" id="generateResource">生成资源</button>
                            </div>
                        </div>
                        <!-- END BASIC TABLE -->
                    </div>
                    <!--</div>-->
                </div>

            </div>
        </div>
        <!-- END MAIN CONTENT -->
    </div>
    <div style="padding: 1% 1%;display: none" id="equipment_layer">
        搜索设备：
        <div class="layui-inline">
            <input class="layui-input" name="equipment_sn" id="equipment_sn" placeholder="请输入设备sn号" autocomplete="off">
        </div>
        <button class="layui-btn" data-type="reload" id="equipment_search">搜索</button>
        <table class="layui-table"  id="fequipment_table" lay-filter="equipment"></table>
    </div>
    <!-- END MAIN -->
    <div class="clearfix"></div>
    <div id="footer" th:include="/commons/footer :: footerContext"></div>

</div>
<!-- END WRAPPER -->
<script type="text/javascript" th:inline="javascript">

    $(function () {

        // var tdArray = $("#equipment_port tbody td:eq(2) input[type=radio]");
        // for(var i=0; i<= tdArray.length; i++){
        //     console.log(tdArray[i]);
        // }

        // var arrRadio = new Array();
        //
        // $('input[type=radio][name=selecttype]').change(function() {
        //     if (this.value == '1') {
        //         $("#fnew_equipment").prop("disabled",false);
        //         $("#fold_equipment").prop("disabled",true);
        //     }
        //     else if (this.value == '0') {
        //         $("#fnew_equipment").prop("disabled",true);
        //         $("#fold_equipment").prop("disabled",false);
        //     }
        // });
    })

    function changeYes(obj) {
        if (obj.checked == true) {
           $(obj).parent().parent().children("td:eq(3)").find("input").prop("disabled",false);
           $(obj).parent().parent().children("td:eq(3)").find("input").prop("disabled",false);
        }
    }


    // $("#fold_equipment").click(function () {
    //     var id, equipment_sn = null;
    //
    //     //单击触发layer弹出层
    //     layer.open({
    //         title:"设备列表",
    //         area: ['800px', '600px'],
    //         type:1,
    //         // content:"[[@{|/openQuery|}]]",
    //         content:$('#equipment_layer'),
    //         btn:['选择','取消'],
    //         success:function (layero, index) {
    //             layui.use('table',function () {
    //                 var table = layui.table;
    //
    //                 //自动渲染数据表格
    //                 table.render({
    //                     // elem: layer.getChildFrame("#ftable", index)
    //                     elem: '#fequipment_table'
    //                     ,url:[[@{|/setting/equipment/showTable|}]]  //该url必须要返回符合layui要求的前端格式的json数据
    //             ,cols: [
    //                     [
    //                         {type:'radio'}
    //                         ,{field: 'id', title: 'ID',width:80}
    //                         ,{field: 'equipment_sn', title: '设备序列号',width:120}
    //                         ,{field: 'account_center', title: '成本中心'}
    //                         ,{field: 'create_time', title: '创建时间',width:120}
    //                     ]
    //                 ]
    //                     ,page:true
    //                     ,id: 'equipment'
    //             });
    //
    //                 //搜索功能实现
    //                 $('#equipment_search').on('click',function () {
    //                     // var type = $(this).data('type');
    //                     // active[type] ? active[type].call(this) : '';
    //                     var equipment_sn = $('#equipment_sn');
    //                     table.reload('equipment_sn',{
    //                         url:[[@{|/setting/equipment/showTable|}]]
    //                 ,page: {
    //                         curr: 1 //重新从第 1 页开始
    //                     }
    //                 ,where: {
    //                         queryText: equipment_sn.val()
    //                     }
    //                 })
    //                 });
    //
    //                 //获取选中的层
    //                 table.on('row(equipment)',function (obj) {
    //                     id = obj.data.id;
    //                     equipment_sn = obj.data.equipment_sn;
    //                 })
    //             })
    //
    //
    //         },
    //         yes:function (layero, index) {
    //             $("#fequipment").attr("equipment_id",id);
    //             $("#fequipment").val(equipment_sn);
    //             layer.close(layero)
    //         },
    //         btn2:function (layero, index) {
    //             layer.close(layero)
    //         }
    //     })
    // })


</script>
</body>

</html>
