<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Tables</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<!-- VENDOR CSS -->
	<link rel="stylesheet" th:href="@{|/static/js/vendor/bootstrap/css/bootstrap.min.css|}">
	<link rel="stylesheet" th:href="@{|/static/js/vendor/font-awesome/css/font-awesome.min.css|}">
	<link rel="stylesheet" th:href="@{|/static/js/vendor/linearicons/style.css|}">
	<!-- MAIN CSS -->
	<link rel="stylesheet" th:href="@{|/static/css/main.css|}">
	<!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
	<link rel="stylesheet" th:href="@{|/static/css/demo.css|}">
	<!--LAYUI CSS-->
	<link rel="stylesheet" th:href="@{|/static/js/layui/css/layui.css|}">
	<!--ZTREE CSS-->
	<link rel="stylesheet" th:href="@{|/static/ztree/zTreeStyle.css|}">
	<!-- GOOGLE FONTS -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
	<!-- ICONS -->
	<link rel="apple-touch-icon" sizes="76x76" th:href="@{|/static/img/apple-icon.png|}">
	<link rel="icon" type="image/png" sizes="96x96" th:href="@{|/static/img/favicon.png|}">
	<!-- Javascript -->
	<script th:src="@{|/static/js/vendor/jquery/jquery.min.js|}"></script>
	<script th:src="@{|/static/js/vendor/bootstrap/js/bootstrap.min.js|}"></script>
	<script th:src="@{|/static/js/vendor/jquery-slimscroll/jquery.slimscroll.min.js|}"></script>
	<script th:src="@{|/static/js/scripts/klorofil-common.js|}"></script>
	<script th:src="@{|/static/js/layer/layer.js|}"></script>
	<script th:src="@{|/static/js/layui/layui.js|}"></script>
	<script th:src="@{|/static/js/vendor/common.js|}"></script>
	<script th:src="@{|/static/ztree/jquery.ztree.all-3.5.min.js|}"></script>

</head>

<body>
<!-- WRAPPER -->
<div id="wrapper">
	<!-- NAVBAR -->
	<div id="header" th:include="/commons/header :: headerContext"></div>
	<!-- END NAVBAR -->
	<!-- LEFT SIDEBAR -->
	<div id="left_sidebar" th:include="/commons/left_sidebar :: leftContext"></div>
	<!-- END LEFT SIDEBAR -->
		<!-- MAIN -->
	<div class="main">
		<!-- MAIN CONTENT -->
		<div class="main-content">
			<div class="container-fluid">
				<!--<h3 class="page-title">Tables</h3>-->
				<ol class="breadcrumb">
					<li><a th:href="@{|#|}">首页</a></li>
					<li><a th:href="@{|#|}">资源管理</a></li>
					<li class="active">工单管理</li>
				</ol>
				<div class="row">
					<div class="col-md-12">
						<!-- BASIC TABLE -->
						<div class="panel">
							<div class="panel-body">
								<div class="panel-header" style="padding-top: 20px">
									<h2>迁移工单处理</h2>
								</div>
								<br>
								<hr>
								<br>
								<ul class="nav nav-tabs" role="tablist">
									<li role="presentation" class="active"><a>工单信息预览</a></li>
								</ul>
								<form role="form" style="margin-top:20px;" class="form-horizontal">
									<div class="form-group">
										<label for="ftitle" class="col-sm-2 control-label">标题：</label>
										<div class="col-sm-10">
											<span id="ftitle" class="form-control" th:text="${session.order?.title}"></span>
										</div>
										<!--<input type="text" class="form-control" name="title" id="ftitle">-->
									</div>

									<div class="form-group">
										<label for="apply_department" class="col-sm-2 control-label">申请职能部门：</label>
										<div class="col-sm-10">
											<span id="apply_department" class="form-control" th:text="${session.order?.applyDepartment?.departmentName}" ></span>
										</div>

										<!--<input type="text" class="form-control" id="fapply_department" placeholder="请选择职能部门或营业区" apply_department_id="" onclick="doLoadApplyDepartment()">-->
									</div>

									<div class="form-group">
										<label for="ftype" class="col-sm-2 control-label">工单类型：</label>
										<div class="col-sm-4">
											<span id="ftype" class="form-control" th:text="${session.order?.type}"></span>
										</div>
										<label for="fproject" class="col-sm-2 control-label">所属项目：</label>
										<div class="col-sm-4">
											<span id="fproject" class="form-control" th:text="${session.order?.project?.projectName}"></span>
										</div>
										<!--<input type="text" class="form-control" name="type" id="ftype" value="建设工单" disabled>-->
									</div>

									<div class="form-group">
										<label for="fproposer" class="col-sm-2 control-label">申请人：</label>
										<div class="col-sm-4">
											<span id="fproposer" class="form-control" th:text="${session.order?.proposer?.username}"></span>
										</div>
										<label for="fcontact" class="col-sm-2 control-label">联系方式：</label>
										<div class="col-sm-4">
											<span id="fcontact" class="form-control" th:text="${session.order?.proposer?.contact}"></span>
										</div>
									</div>

									<div class="form-group">
										<label for="freason" class="col-sm-2 control-label">申请原因：</label>
										<div class="col-sm-10">
											<span id="freason" class="form-control" th:text="${session.order?.reason}"></span>
										</div>
									</div>
									<input type="hidden" id="fid" th:value="${session.order?.id}">
								</form>
								<br>
								<h3>装机明细</h3>
								<br>
								<div>
									<table id="detailList" class="table table-bordered" style="text-align:center;">
										<thead>
										<tr class="success">
											<td>资源ID</td>
											<td>资源号码</td>
											<td>使用部门类型</td>
											<td>新职场</td>
											<td>新机房</td>
											<td>新挂账部门</td>
											<td>新使用部门</td>
											<td>迁移费用</td>
										</tr>
										</thead>
										<tbody id="t1">
											<tr th:each="resourceMigration:${session?.resourceMigrationList}">
												<td th:text="${resourceMigration?.resource_id}">资源ID</td>
												<td th:text="${resourceMigration?.resource_no}">资源号码</td>
												<td th:text="${resourceMigration?.new_usedepartment_type}">使用部门类型</td>
												<td th:text="${resourceMigration?.new_workplace_name}">新职场</td>
												<td th:text="${resourceMigration?.new_network_room_name}">新机房</td>
												<td th:text="${resourceMigration?.new_department_name}">新挂账部门</td>
												<td th:text="${resourceMigration?.new_usedepartment_name}">新使用部门</td>
												<td th:text="${resourceMigration?.price}">迁移费用</td>
											</tr>
										</tbody>
									</table>
								</div>
								<br>
								<h3>设备购买明细</h3>
								<br>
								<div>
									<table id="equipmnetPurchaseDetailList" class="table table-bordered" style="text-align:center;">
										<thead>
										<tr class="success">
											<td>序号</td>
											<td>购买设备类型名称</td>
											<td>购买数量</td>
											<td>设备单价</td>
										</tr>
										</thead>
										<tbody id="t2">
											<tr th:each="equipmentPurchaseRecord:${session?.equipmentPurchaseRecordList}">
												<td th:text="${equipmentPurchaseRecordStat?.count}">序号</td>
												<td th:text="${equipmentPurchaseRecord?.equipment_type}">购买设备类型</td>
												<td th:text="${equipmentPurchaseRecord?.purchaseNum}">购买数量</td>
												<td th:text="${equipmentPurchaseRecord?.expense.price}">设备单价</td>
											</tr>
										</tbody>
									</table>
								</div>
								<br>
								<hr>
								<br>
								<div id="NewEquipment">
									<ul class="nav nav-tabs" role="tablist">
										<li role="presentation" class="active"><a>设备购买录入</a></li>
									</ul>
									<form class="form-horizontal" style="margin-top:20px;margin-bottom: 20px" id="equipmentPurchaseListForm">
										<div class="form-group">
											<label class="col-md-2 control-label">购买设备SN号<span style="color:red">* </span></label>
											<div class="col-md-4">
												<input type="text" class="form-control" id="fequipmentSn" name="equipmentSn">
											</div>
											<label class="col-md-2 control-label">购买设备类型<span style="color:red">* </span></label>
											<div class="col-md-4">
												<input type="text" class="form-control" id="fequipmentType" name="equipment_type">
											</div>

										</div>
										<div class="form-group">
											<label class="col-md-2 control-label">设备单价<span style="color:red">* </span>	</label>
											<div class="col-md-4">
												<input type="number" class="form-control" id="fEquipmentPrice" name="expense.price" expense_id="">
											</div>
											<label class="col-md-2 control-label">列支成本中心<span style="color:red">* </span></label>
											<div class="col-md-4">
												<input type="text" class="form-control" id="faccountCenter" name="accountCenter">
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label"></label>
											<div class="col-sm-10">
												<button id="addEqipmentBtn" type="button" class="btn btn-primary">添加</button>
												<button id="resetEqipmentBtn" class="btn btn-default">重置</button>
											</div>
										</div>
									</form>
									<div>
										<table id="equipmentPurchaseList" class="table table-bordered" style="text-align:center;">
											<thead>
											<tr class="success">
												<td>序号</td>
												<td>购买设备SN号</td>
												<td>购买设备类型</td>
												<td>设备单价</td>
												<td>列支成本中心</td>
												<td>操作</td>
											</tr>
											</thead>
											<tbody id="equipmentList">

											</tbody>
										</table>
									</div>
									<!--<button type="button" class="btn btn-default" id="backStep">上一步</button>-->
									<!--<button type="button" class="btn btn-success" id="generateResource">生成资源</button>-->
									<!--<button type="button" class="btn btn-success" id="addResource">添加资源</button>-->
								</div>
								<br>
								<br>
								<div id="ResourceMigration">
									<ul class="nav nav-tabs" role="tablist">
										<li role="presentation" class="active"><a>资源录入</a></li>
									</ul>
									<br>
									<div>
										<table id="temp_resource_list" class="table table-bordered" style="text-align:center;">
											<thead>
											<tr class="success">
												<td>资源ID</td>
												<td>资源号码</td>
												<td>使用部门类型</td>
												<td>新职场</td>
												<td>新机房</td>
												<td>新挂账部门</td>
												<td>新使用部门</td>
												<td>迁移费用</td>
												<td>设备SN号</td>
												<td>设备端口</td>
											</tr>
											<!--<tr class="success" style="display: none">-->
												<!--<td>resource_id</td>-->
												<!--<td>resource_no</td>-->
												<!--<td>new_workplace_name</td>-->
												<!--<td>new_network_room_name</td>-->
												<!--<td>new_department_name</td>-->
												<!--<td>new_usedepartment_name</td>-->
												<!--<td>price</td>-->
												<!--<td>equipment_sn</td>-->
												<!--<td>equipment_port_num</td>-->
											<!--</tr>-->
											</thead>
											<tbody id="resourceList">
											<tr th:each="resourceMigration:${session?.resourceMigrationList}">
												<td th:text="${resourceMigration?.resource_id}">资源ID</td>
												<td th:text="${resourceMigration?.resource_no}">资源号码</td>
												<td th:text="${resourceMigration?.new_usedepartment_type}">使用部门类型</td>
												<td th:text="${resourceMigration?.new_workplace_name}">新职场</td>
												<td th:text="${resourceMigration?.new_network_room_name}">新机房</td>
												<td th:text="${resourceMigration?.new_department_name}">新挂账部门</td>
												<td th:text="${resourceMigration?.new_usedepartment_name}">新使用部门</td>
												<td th:text="${resourceMigration?.price}">迁移费用</td>
												<!--<td th:if="${#lists.isEmpty(session?.equipmentPurchaseRecordList)}">-->
													<!--<input type="text" th:id="fselect_oldequipment+${resourceMigrationStat?.count}" th:onclick="|select_oldequipment(${resourceMigrationStat?.count})|" equipment_id="" style="width: 100px">-->
												<!--</td>-->
												<!--<td th:if="${not #lists.isEmpty(session?.equipmentPurchaseRecordList)}">-->
													<!--<select class="form-control" th:id="fselect_newequipment+${resourceMigrationStat?.count}" th:onclick="|select_newequipment(${resourceMigrationStat?.count})|" equipment_id="" style="width: 100px">-->
														<!--<option>请选择</option>-->
													<!--</select>-->
												<!--</td>-->
												<td th:if="${#lists.isEmpty(session?.equipmentPurchaseRecordList)}">
													<input type="text" th:id="fselect_oldequipment+${resourceMigrationStat?.count}" th:onclick="|select_oldequipment(${resourceMigrationStat?.count})|" equipment_id="" style="width: 100px">
												</td>
												<td th:if="${not #lists.isEmpty(session?.equipmentPurchaseRecordList)}">
													<select class="fselect_newequipment"  style="width: 100px">
													</select>
												</td>
												<td><input type="text" id="fequipment_port_num"  style="width: 80px"></td>
											</tr>
											</tbody>
										</table>
									</div>

									<!--<button type="button" class="btn btn-default" id="backStep">上一步</button>-->
									<!--<button type="button" class="btn btn-success" id="generateResource">生成资源</button>-->
									<button type="button" class="btn btn-success" id="preview">预览</button>
								</div>
							</div>
						</div>
						<!-- END BASIC TABLE -->
					</div>
					<!--</div>-->
				</div>

			</div>
		</div>
		<!-- END MAIN CONTENT -->
	</div>
		<!-- END MAIN -->
	<div id="department_layer" style="display: none;">
		<div id="departmentTree" class="ztree"></div>
	</div>
	<div style="padding: 1% 1%;display: none" id="workplace_layer">
		搜索职场：
		<div class="layui-inline">
			<input class="layui-input" name="workplaceName" id="demoReload" placeholder="请输入职场名称" autocomplete="off">
		</div>
		<button class="layui-btn" data-type="reload" id="search">搜索</button>
		<table class="layui-table"  id="fworkplace_table" lay-filter="workplace"></table>
	</div>
	<div style="padding: 1% 1%;display: none" id="networkroom_layer">
		<table class="layui-table"  id="fnetworkroom_table" lay-filter="networkroom"></table>
	</div>
	<div style="padding: 1% 1%;display: none" id="expense_layer">
		<!--搜索职场：-->
		<!--<div class="layui-inline">-->
		<!--<input class="layui-input" name="workplaceName" id="demoReload" placeholder="请输入职场名称" autocomplete="off">-->
		<!--</div>-->
		<!--<button class="layui-btn" data-type="reload" id="search">搜索</button>-->
		<table class="layui-table"  id="fexpense_table" lay-filter="expense"></table>
	</div>
	<!--<div style="padding: 1% 1%;display: none" id="equipmentType_layer">-->
		<!--搜索设备类型名称：-->
		<!--<div class="layui-inline">-->
			<!--<input class="layui-input" name="equipmentType" id="equipmentType" placeholder="请输入设备类型名称" autocomplete="off">-->
		<!--</div>-->
		<!--<button class="layui-btn" data-type="reload" id="equipmentType_search">搜索</button>-->
		<!--<table class="layui-table"  id="fequipmentType_table" lay-filter="equipmentType"></table>-->
	<!--</div>-->

	<div style="padding: 1% 1%;display: none" id="equipment_layer">
		搜索设备：
		<div class="layui-inline">
			<input class="layui-input" name="equipment_sn" id="equipment_sn" placeholder="请输入设备sn号" autocomplete="off">
		</div>
		<button class="layui-btn" data-type="reload" id="equipment_search">搜索</button>
		<table class="layui-table"  id="fequipment_table" lay-filter="equipment"></table>
	</div>
	<div class="clearfix"></div>
	<div id="footer" th:include="/commons/footer :: footerContext"></div>

	<!-- END WRAPPER -->
</div>
<script type="text/javascript"  th:inline="javascript">

    var loadingIndex = -1;

    var equipmentList = new Array();

    $(function () {
		var equipmentNum = [[${session?.equipmentPurchaseRecordList}]].length
		if(equipmentNum > 0){
		    $("#NewEquipment").show();
		    // $("#useOldEquipment").hide();
		}else{
            $("#NewEquipment").hide();
            // $("#useOldEquipment").show();
		}

        // var list = equipmentList
        // var url = [[@{|/order/preHandleOrder/migration/deleteEquipmentList|}]]
        // updateSession(list,url);

    })

    // function updateSession(list,url) {
    //     $.ajax({
    //         type:"post",
    //         url:url,
    //     	data:{list:list},
    //         dataType:"json",
    //         contentType : "application/json;charset=utf-8",
    //         beforeSend:function () {
    //         return true
    //     },
		// 	success:function (result) {
		// 		if(!result.success){
		// 			layer.msg(result.message,{time:2000, icon:5, shift:5})
		// 		}
		// 	}
    // 	})
    // }

    function select_oldequipment(i) {

        var id, equipment_sn = null;

        var select_old_equipment_row = $("#fselect_oldequipment"+i)

        layer.open({
            title: "设备列表",
            area: ['600px', '400px'],
            type: 1,
            // content:"[[@{|/openQuery|}]]",
            content: $('#equipment_layer'),
            btn: ['选择', '取消'],
            success: function (layero, index) {
                layui.use('table', function () {
                    var table = layui.table;

                    //自动渲染数据表格
                    table.render({
                        // elem: layer.getChildFrame("#ftable", index)
                        elem: '#fequipment_table'
                        , url: [[@{|/equipment/setting/showTable|}]]  //该url必须要返回符合layui要求的前端格式的json数据
                ,
                    cols: [
                        [
                            {type: 'radio'}
                            , {field: 'id', title: 'ID'}
                            , {field: 'equipment_sn', title: '设备序列号'}
                            , {field: 'equipment_name', title: '设备名称'}
                            , {field: 'account_center', title: '成本中心'}
                            , {field: 'create_time', title: '创建时间'}
                        ]
                    ]
                        , page
                :
                    true
                        , id
                :
                    'equipment'
                })
                    ;

                    //搜索功能实现
                    $('#equipment_search').on('click', function () {
                        // var type = $(this).data('type');
                        // active[type] ? active[type].call(this) : '';
                        var equipment_sn = $('#equipment_sn');
                        table.reload('equipment_sn', {
                            url: [[@{|/equipment/setting/showTable|}]]
                    ,
                        page: {
                            curr: 1 //重新从第 1 页开始
                        }
                    ,
                        where: {
                            queryText: equipment_sn.val()
                        }
                    })
                    });

                    //获取选中的层
                    table.on('row(equipment)', function (obj) {
                        id = obj.data.id;
                        equipment_sn = obj.data.equipment_sn;
                    })
                })


            },
            yes: function (layero, index) {
                select_old_equipment_row.attr("equipment_id", id);
                select_old_equipment_row.val(equipment_sn);
                layer.close(layero)
            },
            btn2: function (layero, index) {
                layer.close(layero)
            }
        })

    }

    // function deleteBtn(i) {
    //     layer.confirm("确定要删除此行记录吗？" ,{icon: 3, title:'提示'}, function(cindex){
    //         layer.close(cindex);
    //         resourceDetailList.splice(i,1);
    //         showDetail(resourceDetailList);
    //     },function (cindex) {
    //         layer.close(cindex);
    //     })
    // }


    //资费单击选择事件
    //注意！！！！！！ 动态表格不能放置在form表单中，否则使用里面的单击事件会有问题
    $("#fEquipmentPrice").click(function () {

        var id, price = null;

        //单击触发layer弹出层
        layer.open({
            title:"选择资费",
            area: ['600px', '400px'],
            type:1,
            // content:"[[@{|/openQuery|}]]",
            content:$('#expense_layer'),
            btn:['选择','取消'],
            success:function (layero, index) {
                layui.use('table',function () {
                    var table = layui.table;

                    //自动渲染数据表格
                    table.render({
                        // elem: layer.getChildFrame("#ftable", index)
                        elem: '#fexpense_table'
                        ,url:[[@{|/setting/expense/showExpenseTable|}]]  //该url必须要返回符合layui要求的前端格式的json数据
                ,cols: [
                        [
                            {type:'radio'}
                            ,{field: 'id', title: 'ID',width:80}
                            ,{field: 'expenseType', title: '资费类别',width:120}
                            ,{field: 'price', title: '金额'}
                            ,{field: 'chargeFrequency', title: '缴费频率'}
                        ]
                    ]
                        ,page:false
                        ,id: 'expense'
                });

                    //获取选中的层
                    table.on('row(expense)',function (obj) {
                        id = obj.data.id;
                        price = obj.data.price;
                    })
                })


            },
            yes:function (layero, index) {
                $("#fEquipmentPrice").attr("expense_id",id);
                $("#fEquipmentPrice").val(price);
                layer.close(layero)
            },
            btn2:function (layero, index) {
                layer.close(layero)
            }
        })

    })



    $("#addEqipmentBtn").click(function () {

        //判断必选项是否为空
        if($.trim($("#fequipmentSn").val()) == ""){
            // $("#fmessage").text("用户名不能为空，请重新输入");
            layer.msg("设备SN号不能为空，请重新输入", {time:2000, icon:5, shift:5},function () {
                $("#fequipmentSn").val("");
                $("#fequipmentSn").focus();
            })
            return false
        }

        if($.trim($("#fequipmentType").val()) == ""){
            // $("#fmessage").text("用户名不能为空，请重新输入");
            layer.msg("设备类型不能为空，请重新输入", {time:2000, icon:5, shift:5},function () {
                $("#fequipmentType").val("");
                $("#fequipmentType").attr("equipment_type_id","");
                $("#fequipmentType").focus();
            })
            return false
        }

        if($.trim($("#fEquipmentPrice").val()) == ""){
            // $("#fmessage").text("用户名不能为空，请重新输入");
            layer.msg("设备单价不能为空，请重新输入", {time:2000, icon:5, shift:5},function () {
                $("#fEquipmentPrice").val("");
                $("#fEquipmentPrice").attr("expense_id","");
                $("#fEquipmentPrice").focus();
            })
            return false
        }

        if($.trim($("#faccountCenter").val()) == ""){
            // $("#fmessage").text("用户名不能为空，请重新输入");
            layer.msg("成本中心不能为空，请重新输入", {time:2000, icon:5, shift:5},function () {
                $("#faccountCenter").val("");
                $("#faccountCenter").focus();
            })
            return false
        }


        var equipmentSn = $("#fequipmentSn").val();

        $.ajax({
            url:[[@{|/equipment/verify_equipmentSn|}]],
        data:{
            equipmentSn: equipmentSn
        },
        type:"post",
            dataType: "json",
            success:function (result) {
            if(result.success == true){
                layer.msg("该设备已存在，请确认后再输入", {time:1000, icon:5, shift:6});
                return false;
            }
        }
    })


        var dataArray = {};
        var formData = $("#equipmentPurchaseListForm").serializeArray();
        $.each(formData,function(){
            //var name = this.name;
            var value = this.value;
            //分割name属性，并返回一个数组
            var paths = this.name.split(".");
            //返回数组的长度
            var len = paths.length;
            var obj = dataArray;
            $.each(paths,function(i,e){
                //判断当前的遍历的数据是否有二级数组；i == len-1 为true说明是二级数组，false说明为一级数组
                if(i == len-1){
                    //判断该数组是否存在当前遍历的属性
                    if (obj[e]) {
                        //push()方法的返回值是把指定的值添加到数组后的新长度，
                        // "!"是一个布尔操作符，用于将操作的值强制转换为布尔值并取反,
                        // 即!obj[e].push的值为false
                        if (!obj[e].push) {
                            obj[e] = [obj[e]];
                        }
                        obj[e].push(value || '');
                    } else {
                        obj[e] = value || '';
                    }
                }else{
                    //如一级数组不为空，则将值设置为{}
                    if(!obj[e]){
                        obj[e] = {};
                    }
                }
                obj = dataArray[e];
            });

        });

        // dataArray["equipment_type"]["id"] = $("#fequipmentType").attr("equipment_type_id");
        // dataArray["equipment_type_id"] = $("#fequipmentType").attr("equipment_type_id");
        dataArray["expense"]["id"] = $("#fprice").attr("expense_id");
        dataArray["expenseId"] = $("#fprice").attr("expense_id");

        console.log(dataArray)
        equipmentList.push(dataArray);
        showEquipmentDetail(equipmentList);

        updateNewEquipment(equipmentList);

        // var list = JSON.stringify({'equipmentList':equipmentList});
        // var url = [[@{|/order/preHandleOrder/migration/saveEquipmentList|}]];
        // updateSession(list,url)

    })

    function showEquipmentDetail(equipmentList) {

        var content = '';

        console.log(equipmentList)

        $.each(equipmentList,function(i,n){
            content+='<tr>';
            content+='  <td>'+(i+1)+'</td>';
            content+='  <td>'+n.equipmentSn+'</td>';
            content+='  <td>'+n.equipment_type+'</td>';
            content+='  <td>'+n.expense.price+'</td>';
            content+='  <td>'+n.accountCenter + '</td>';
            content+='  <td>';
            content+='	  <button type="button" onclick="deleteEquipmentBtn('+i+')" class="btn btn-danger btn-xs delteBtn" value="aaa"><i class=" glyphicon glyphicon-remove"></i></button>';
            content+='  </td>';
            content+='</tr>';


        });
        $("#equipmentList").html(content);

    }


    function deleteEquipmentBtn(i) {
        layer.confirm("确定要删除此行记录吗？" ,{icon: 3, title:'提示'}, function(cindex){
            layer.close(cindex);
            equipmentList.splice(i,1);
            showEquipmentDetail(equipmentList);
            updateNewEquipment(equipmentList);
        },function (cindex) {
            layer.close(cindex);
        })
    }

    function updateNewEquipment(equipmentList) {

        // var resourceMigrationCount = [[${session?.resourceMigrationList}]];
        var select_new_equipment_row = $(".fselect_newequipment")
        $(".fselect_newequipment").empty();
        for(var i=0; i<equipmentList.length; i++){
            var equipmentSn = equipmentList[i].equipmentSn;
            select_new_equipment_row.append("<option>"+equipmentSn+"</option>")
        }
    }



    $("#preview").click(function () {

        var OrderEquipmentNum = getTableNum("t2",2);

        //判断工单的设备数量与添加的设备数量是否一致
        if(OrderEquipmentNum != equipmentList.length){
            layer.msg("添加的设备数量与工单的采购数量不一致，请重新填写",{time:2000, icon:5, shift:5})
            return false;
        }

        var table = "temp_resource_list";

		var resourceMigrationList = tabToJSONForJquery(table)
		//alert(tableToJson);

        $.ajax({
            type:"post",
            url:[[@{|/order/preHandleOrder/migration/saveResourceMigrationList|}]],
        	data:JSON.stringify({'resourceMigrationList':resourceMigrationList,'equipmentList':equipmentList}),
            dataType:"json",
            contentType : "application/json;charset=utf-8",
            beforeSend:function () {
            return true
        },
        success:function (result) {
            if(result.success){
				window.location.href= [[@{|/order/preHandleOrder/migration/toPreviewMigration|}]];
            }else{
                layer.msg(result.message,{time:2000, icon:5, shift:5})
            }
        }
    	})

    })

    function tabToJSONForJquery(table) {
		     // var arrTR = $("#"+id).children();
			 // var Context = "";
			 // $("#"+id).find("tr:gt(1)").each(function () {
				//  var arrtd = $(this).children();
				//  tdContext = $.trim(arrtd.eq(0).text());
				//  tdContext += ":" + arrtd.eq(8).find("input").val() + ";";
				//  Context += tdContext;
			 // })
          	//  return Context = Context.substring(Context.indexOf(";") + 1);
            // //$("#txtContent").val(Context);


        // var titles = $("#" + id).find("tr:eq(1) td");  //获得表头td数组
        // //遍历非表头的，tr、td...拼装json
        // var json = "[" + $("#" + id).find("tr:gt(1)").map(function(i, e) {
        //     return "{" + $(e).children("td").map(function(j, el) {
        //         if($(el).find("input[type='text']") == true){
        //             return $(titles[j]).text() + ":" + $(el).val();
        //         }else{
        //             return $(titles[j]).text() + ":" + $(el).text();
        //         }
        //
        //     }).get().join(",") + "}";
        // }).get().join(",") + "]";
        // return json

		var rows = $("#"+table).find("tr:gt(0)");
        var num = rows.length;
        var info = [];
        for (var i = 0; i < num; i++) {
            var obj = {};
            obj.resource_id = rows.eq(i).children("td").eq(0).text();
            obj.resource_no = rows.eq(i).children("td").eq(1).text();
            obj.new_usedepartment_type = rows.eq(i).children("td").eq(2).text();
            obj.new_workplace_name = rows.eq(i).children("td").eq(3).text();
            obj.new_network_room_name = rows.eq(i).children("td").eq(4).text();
            obj.new_department_name = rows.eq(i).children("td").eq(5).text();
            obj.new_usedepartment_name = rows.eq(i).children("td").eq(6).text();
            obj.price= rows.eq(i).children("td").eq(7).text();
            if(rows.eq(i).children("td").eq(8).find("input[type='text']").length>0){
                obj.equipment_sn= rows.eq(i).children("td").eq(8).children("input").val();
            }else{
                obj.equipment_sn= rows.eq(i).children("td").eq(8).children("select").val();
            }
            obj.equipment_port_num= rows.eq(i).children("td").eq(9).children("input").val();
            console.log(obj)
            info.push(obj);
        }
        console.log(info)
		return info;

    }


    //查询订单购买设备数量
    function getTableNum(table_id,row){

        //table_id： 要统计的table 的id值
        //row：要统计哪一列

        var total = 0;
        $("#"+ table_id +" tr").each(function () {
            // var num = parseInt(($(this).find("td")[row]).innerText);
            // total += getNumValue(num);
			$(this).find("td:eq("+ row +")").each(function () {
                total += parseInt($(this).text());
            })
        });

        return Number(total);

    }

    function getNumValue(num) {
        if (!isNaN(num)) {
            num = parseInt(num);
        }
        else {
            num = 0;
        }
        return num;
    }


</script>
</body>

</html>
