<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Tables</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<!-- VENDOR CSS -->
	<link rel="stylesheet" th:href="@{|/static/js/vendor/bootstrap/css/bootstrap.min.css|}">
	<link rel="stylesheet" th:href="@{|/static/js/vendor/font-awesome/css/font-awesome.min.css|}">
	<link rel="stylesheet" th:href="@{|/static/js/vendor/linearicons/style.css|}">
	<!-- MAIN CSS -->
	<link rel="stylesheet" th:href="@{|/static/css/main.css|}">
	<!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
	<link rel="stylesheet" th:href="@{|/static/css/demo.css|}">
	<!--LAYUI CSS-->
	<link rel="stylesheet" th:href="@{|/static/js/layui/css/layui.css|}">
	<!--ZTREE CSS-->
	<link rel="stylesheet" th:href="@{|/static/ztree/zTreeStyle.css|}">
	<!-- GOOGLE FONTS -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
	<!-- ICONS -->
	<link rel="apple-touch-icon" sizes="76x76" th:href="@{|/static/img/apple-icon.png|}">
	<link rel="icon" type="image/png" sizes="96x96" th:href="@{|/static/img/favicon.png|}">
	<!-- Javascript -->
	<script th:src="@{|/static/js/vendor/jquery/jquery.min.js|}"></script>
	<script th:src="@{|/static/js/vendor/bootstrap/js/bootstrap.min.js|}"></script>
	<script th:src="@{|/static/js/vendor/jquery-slimscroll/jquery.slimscroll.min.js|}"></script>
	<script th:src="@{|/static/js/scripts/klorofil-common.js|}"></script>
	<script th:src="@{|/static/js/layer/layer.js|}"></script>
	<script th:src="@{|/static/js/layui/layui.js|}"></script>
	<script th:src="@{|/static/js/vendor/common.js|}"></script>
	<script th:src="@{|/static/ztree/jquery.ztree.all-3.5.min.js|}"></script>

</head>

<body>
<!-- WRAPPER -->
<div id="wrapper">
	<!-- NAVBAR -->
	<div id="header" th:include="/commons/header :: headerContext"></div>
	<!-- END NAVBAR -->
	<!-- LEFT SIDEBAR -->
	<div id="left_sidebar" th:include="/commons/left_sidebar :: leftContext"></div>
	<!-- END LEFT SIDEBAR -->
		<!-- MAIN -->
	<div class="main">
		<!-- MAIN CONTENT -->
		<div class="main-content">
			<div class="container-fluid">
				<!--<h3 class="page-title">Tables</h3>-->
				<ol class="breadcrumb">
					<li><a th:href="@{|#|}">首页</a></li>
					<li><a th:href="@{|#|}">资源管理</a></li>
					<li class="active">工单管理</li>
				</ol>
				<div class="row">
					<div class="col-md-12">
						<!-- BASIC TABLE -->
						<div class="panel">
							<div class="panel-body">
								<div class="panel-header" style="padding-top: 20px">
									<h2>建设工单转资源处理</h2>
								</div>
								<br>
								<hr>
								<br>
								<ul class="nav nav-tabs" role="tablist">
									<li role="presentation" class="active"><a><span class="badge"></span> 预览</a></li>
								</ul>
								<br>
								<div id="resource_area">
									<h3>资源明细</h3>
									<br>
									<div>
										<table id="resourceList" class="table table-bordered" style="text-align:center;">
											<thead>
												<tr class="success">
													<td>序号</td>
													<td>资源ID</td>
													<td>资源号码</td>
													<td>使用部门类型</td>
													<td>新职场</td>
													<td>新机房</td>
													<td>新挂账部门</td>
													<td>新使用部门</td>
													<td>迁移费用</td>
													<td>设备SN号</td>
													<td>设备端口</td>
												</tr>
											</thead>
											<tbody >
												<tr th:each="resourceMigration:${session?.resourceMigrationList}">
													<td th:text="${resourceMigrationStat?.count}">序号</td>
													<td th:text="${resourceMigration?.resource_id}">资源ID</td>
													<td th:text="${resourceMigration?.resource_no}">资源号码</td>
													<td th:text="${resourceMigration?.new_usedepartment_type}">使用部门类型</td>
													<!--<td th:text="${resourceMigration?.operator}">运营商</td>-->
													<!--<td th:text="${resourceMigration?.resourc_type}">资源类型</td>-->
													<td th:text="${resourceMigration?.new_workplace_name}">新职场</td>
													<td th:text="${resourceMigration?.new_network_room_name}">新机房</td>
													<td th:text="${resourceMigration?.new_department_name}">新挂账部门</td>
													<td th:text="${resourceMigration?.new_usedepartment_name}">新使用部门</td>
													<td th:text="${resourceMigration?.price}">迁移费用</td>
													<!--<td th:text="${resourceMigration?.usedepartment_type}">使用部门类型</td>-->
													<!--<td th:text="${resourceMigration?.username}">使用人</td>-->
													<!--<td th:text="${resourceMigration?.account_center}">列支成本中心</td>-->
													<td th:text="${resourceMigration?.equipment_sn}">设备端口</td>
													<td th:text="${resourceMigration?.equipment_port_num}">设备端口</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								<br>
								<div id="equipment_area">
									<h3>设备购买明细</h3>
									<br>
									<div>
										<table id="equipmentList" class="table table-bordered" style="text-align:center;">
											<thead>
											<tr class="success">
												<td>序号</td>
												<td>购买设备SN号</td>
												<td>购买设备类型</td>
												<td>设备单价</td>
												<td>列支成本中心</td>
											</tr>
											</thead>
											<tbody >
											<tr th:each="equipment:${session?.equipmentList}">
												<td th:text="${equipmentStat?.count}">序号</td>
												<td th:text="${equipment?.equipmentSn}">购买设备SN号</td>
												<td th:text="${equipment?.equipmentType}">购买设备类型</td>
												<td th:text="${equipment?.expense?.price}">设备单价</td>
												<td th:text="${equipment?.account_center}">列支成本中心</td>
											</tr>
											</tbody>
										</table>
									</div>
								</div>
								<!--<button type="button" class="btn btn-default" id="backStep">上一步</button>-->
								<button type="button" class="btn btn-success" id="migrationResource">迁移资源</button>
							</div>
						</div>
						<!-- END BASIC TABLE -->
					</div>
					<!--</div>-->
				</div>

			</div>
		</div>
		<!-- END MAIN CONTENT -->
	</div>
		<!-- END MAIN -->
	<div class="clearfix"></div>
	<div id="footer" th:include="/commons/footer :: footerContext"></div>

	<!-- END WRAPPER -->
</div>
<script type="text/javascript">


    // $(function () {
		// //判断工单设备列表是否为空
    //     var equipmentNum = "${session.order?.equipmentPurchaseRecordList}".length
    //     if(equipmentNum > 0){
    //         $("#equipment_area").show();
    //     }else{
    //         $("#equipment_area").hide();
    //     }
    //
    // })

    var loadingIndex = -1;

    $("#migrationResource").click(function () {
        layer.confirm('确定要迁移资源吗? 如果录入没问题，请按【确定】，否则请按【取消】，并重新检查', {icon: 3, title:'提示：【该操作不可逆】'}, function(index){
            var url = "[[@{|/resource/migrationResource|}]]";
            $.getJSON(url,function(result){
                if(result.success){
                    layer.msg("创建成功", {time:1000, icon:0, shift:6});
                    window.location.href="[[@{|/resource/toIndex/|}]]";
                }else{
                    layer.msg(result.message, {time:1000, icon:5, shift:6});
                }
            });
        });
    })

</script>
</body>

</html>
