<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Tables</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!-- VENDOR CSS -->
    <link rel="stylesheet" th:href="@{|/static/js/vendor/bootstrap/css/bootstrap.min.css|}">
    <link rel="stylesheet" th:href="@{|/static/js/vendor/font-awesome/css/font-awesome.min.css|}">
    <link rel="stylesheet" th:href="@{|/static/js/vendor/linearicons/style.css|}">
    <!-- MAIN CSS -->
    <link rel="stylesheet" th:href="@{|/static/css/main.css|}">
    <!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
    <link rel="stylesheet" th:href="@{|/static/css/demo.css|}">
    <!--LAYUI CSS-->
    <link rel="stylesheet" th:href="@{|/static/js/layui/css/layui.css|}">
    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    <!-- ICONS -->
    <link rel="apple-touch-icon" sizes="76x76" th:href="@{|/static/img/apple-icon.png|}">
    <link rel="icon" type="image/png" sizes="96x96" th:href="@{|/static/img/favicon.png|}">
    <!-- Javascript -->
    <script th:src="@{|/static/js/vendor/jquery/jquery.min.js|}"></script>
    <script th:src="@{|/static/js/vendor/bootstrap/js/bootstrap.min.js|}"></script>
    <script th:src="@{|/static/js/vendor/jquery-slimscroll/jquery.slimscroll.min.js|}"></script>
    <script th:src="@{|/static/js/layer/layer.js|}"></script>
    <script th:src="@{|/static/js/layui/layui.js|}"></script>
    <script th:src="@{|/static/js/common.js|}"></script>
</head>

<body>
<!-- WRAPPER -->
<div id="header" th:include="/commons/header :: headerContext"></div>
<div id="wrapper">
    <!-- NAVBAR -->
    <!--<div class="header"></div>-->
    <div id="left_sidebar" th:include="/commons/left_sidebar :: leftContext"></div>
    <!-- END LEFT SIDEBAR -->
    <!-- MAIN -->
    <div class="main">
        <!-- MAIN CONTENT -->
        <div class="main-content">
            <div class="container-fluid">
                <!--<h3 class="page-title">Tables</h3>-->
                <ol class="breadcrumb">
                    <li><a th:href="@{|#|}">首页</a></li>
                    <li><a th:href="@{|#|}">资源管理</a></li>
                    <li class="active">资源台账</li>
                </ol>
                <div class="row">
                    <div class="col-md-12">
                        <!-- BASIC TABLE -->
                        <div class="panel">
                            <div class="panel-body">
                                <form id="form">
                                    <div class="form-group">
                                        <label for="fnetworkroom_name">机房名称</label>
                                        <input type="text" class="form-control" id="fnetworkroom_name" placeholder="请输入机房名称">
                                    </div>
                                    <div class="form-group">
                                        <label for="ffloor">楼层</label>
                                        <input type="text" class="form-control" id="ffloor" placeholder="请输入楼层">
                                    </div>
                                    <div class="form-group">
                                        <label for="fworkplace">所在职场</label>
                                        <input type="text" class="form-control" id="fworkplace" placeholder="请选择所在职场" workplace_id="">
                                    </div>
                                    <button type="button" id="addbtn" class="btn btn-success"><i class="glyphicon glyphicon-plus"></i> 新增</button>
                                    <button type="button" class="btn btn-danger" id="resetBtn"><i class="glyphicon glyphicon-refresh"></i> 重置</button>
                                </form>
                            </div>
                        </div>
                        <!-- END BASIC TABLE -->
                    </div>
                </div>
                <div style="padding: 1% 1%;display: none" id="flayer">
                    搜索职场：
                    <div class="layui-inline">
                        <input class="layui-input" name="workplaceName" id="demoReload" placeholder="请输入职场名称" autocomplete="off">
                    </div>
                    <button class="layui-btn" data-type="reload" id="search">搜索</button>
                    <table class="layui-table"  id="ftable" lay-filter="workplace"></table>
                </div>
            </div>
        </div>
        <!-- END MAIN CONTENT -->
    </div>

    <!--<div id="layer_context" th:include="/commons/container :: layerContext"></div>-->
    <!-- END MAIN -->
    <div class="clearfix"></div>
    <!--<div class="footer"></div>-->
    <div id="footer" th:include="/commons/footer :: footerContext"></div>
</div>
<!-- END WRAPPER -->
<script type="text/javascript">

    //职场单击选择事件
    $("#fworkplace").click(function () {

        var id, workplaceName = null;

        //单击触发layer弹出层
        layer.open({
            title:"所在职场",
            area: ['800px', '600px'],
            type:1,
            // content:"[[@{|/openQuery|}]]",
            content:$('#flayer'),
            btn:['选择','取消'],
            success:function (layero, index) {
                layui.use('table',function () {
                    var table = layui.table;

                    //自动渲染数据表格
                    table.render({
                        // elem: layer.getChildFrame("#ftable", index)
                        elem: '#ftable'
                        ,url:"[[@{|/setting/workplace/showTable|}]]"  //该url必须要返回符合layui要求的前端格式的json数据
                        ,cols: [
                            [
                                {type:'radio'}
                                ,{field: 'id', title: 'ID',width:80}
                                ,{field: 'workplaceName', title: '职场名称',width:120}
                                ,{field: 'address', title: '职场地址'}
                                ,{field: 'district', title: '所在区域',width:120}
                            ]
                        ]
                        ,page:true
                        ,id: 'workplace'
                    });

                    //搜索功能实现
                    $('#search').on('click',function () {
                        // var type = $(this).data('type');
                        // active[type] ? active[type].call(this) : '';
                        var demoReload = $('#demoReload');
                        table.reload('workplace',{
                            url:"[[@{|/setting/workplace/showTable|}]]"
                            ,page: {
                                curr: 1 //重新从第 1 页开始
                            }
                            ,where: {
                                queryText: demoReload.val()
                            }
                        })
                    });

                    //获取选中的层
                    table.on('row(workplace)',function (obj) {
                        id = obj.data.id;
                        workplaceName = obj.data.workplaceName;
                    })
                })


            },
            yes:function (layero, index) {
                $("#fworkplace").attr("workplace_id",id);
                $("#fworkplace").val(workplaceName);
                layer.close(layero)
            },
            btn2:function (layero, index) {
                layer.close(layero)
            }
        })

    })


    //新增按钮功能
    $("#addbtn").click(function () {

        //获取表单提交的数据
        var fnetworkroom_name = $("#fnetworkroom_name");
        var ffloor = $("#ffloor");
        var fworkplace = $("#fworkplace");
        var loadingIndex = -1;

        //异步请求
        $.ajax({
            type:"post",
            url:"[[@{|/setting/workplace/doAddNetworkRoom|}]]",
            data:{
                networkroom_name:fnetworkroom_name.val(),
                floor:ffloor.val(),
                workplaceId:fworkplace.attr("workplace_id")
            },
            //该函数用于在发生ajax请求前的处理，一般用于表单校验、加载进度条等
            beforeSend:function (XMLHttpRequest) {

                //验证所在职场
                if(fworkplace.attr("workplace_id") == ""){
                    // $("#fmessage").text("用户名不能为空，请重新输入");
                    layer.msg("所在职场未选择，请重新输入", {time:2000, icon:5, shift:5},function () {
                        fworkplace.val("");
                        fworkplace.attr("workplace_id","");
                        fworkplace.focus();
                    })
                    return false
                }
                //
                // //验证url地址
                // if($.trim(furl.val()) == ""){
                //     // $("#fmessage").text("密码不能为空，请重新输入");
                //     layer.msg("url地址不能为空，请重新输入", {time:2000, icon:5, shift:5},function () {
                //         furl.val("");
                //         furl.focus();
                //     })
                //     return false
                // }
                //
                // // //验证icon是否未选择
                // // if($.trim(ficon.val()) == "请选择"){
                // //     // $("#fmessage").text("密码不能为空，请重新输入");
                // //     layer.msg("请选择图标", {time:2000, icon:5, shift:5},function () {
                // //         ficon.val("");
                // //         ficon.focus();
                // //     })
                // //     return false
                // // }

            },
            success:function (result) {
                layer.close(loadingIndex);
                if(result.success==true) {
                    window.location.href= "[[@{|/setting/workplace/toIndex|}]]";
                }else{
                    layer.msg(result.message,{time:2000, icon:5, shift:5})
                }
            }

        });

    });

    $("#resetBtn").click(function () {
        $("#form")[0].reset();
        $("#fworkplace").attr("workplace_id","");
    })






</script>
</body>

</html>
