<!doctype html>
<html lang="en" class="fullscreen-bg" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Login</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<!-- VENDOR CSS -->
	<link rel="stylesheet" th:href="@{|/static/css/bootstrap.min.css|}">
	<link rel="stylesheet" th:href="@{|/static/js/vendor/font-awesome/css/font-awesome.min.css|}">
	<link rel="stylesheet" th:href="@{|/static/js/vendor/linearicons/style.css|}">
	<!-- MAIN CSS -->
	<link rel="stylesheet" th:href="@{|/static/css/main.css|}">
	<!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
	<link rel="stylesheet" th:href="@{|/static/css/demo.css|}">
	<!-- GOOGLE FONTS -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
	<!-- ICONS -->
	<link rel="apple-touch-icon" sizes="76x76" th:href="@{|/static/img/apple-icon.png|}">
	<link rel="icon" type="image/png" sizes="96x96" th:href="@{|/static/img/favicon.png|}">
	<script th:src="@{|/static/js/vendor/jquery/jquery.min.js|}"></script>
	<script th:src="@{|/static/js/jQuery.md5.js|}"></script>
	<script th:src="@{|/static/js/vendor/bootstrap/js/bootstrap.min.js|}"></script>
	<script th:src="@{|/static/js/layer/layer.js|}"></script>
	<script th:src="@{|/static/js/common.js|}"></script>
	<script type="text/javascript" th:inline="javascript">
        $(function (){
            $("#loginBtn").bind("click",function(){

				var floginacct = $("#floginacct");
				var fpassword = $("#fpassword");

                var loadingIndex = -1;

                $("#ftype>option:gt(0)").remove();

				//异步请求
				$.ajax({
					type:"post",
					url: [[@{|/preLogin|}]],
					data:{
                        loginacct:floginacct.val(),
					    password:fpassword.val()
					},
                    //该函数用于在发生ajax请求前的处理，一般用于表单校验、加载进度条等
                    beforeSend:function (XMLHttpRequest) {
                        if($.trim(floginacct.val()) == ""){
                            // $("#fmessage").text("用户名不能为空，请重新输入");
                            layer.msg("登录账号不能为空，请重新输入", {time:2000, icon:5, shift:5},function () {
                                floginacct.val("");
                                floginacct.focus();
                            })

                            return false
                        }


                        //验证密码是否为空
                        if($.trim(fpassword.val()) == ""){
                            layer.msg("密码不能为空，请重新输入", {time:2000, icon:5, shift:5},function () {
                                fpassword.val("");
                                fpassword.focus();
                            })
                            return false
                        }

                    },

                    success:function (result) {
                        layer.close(loadingIndex);
                        if(result.success==true) {
                            $.each(result.datas,function (i,n) {
                                var $optionContent = $("<option></option>");
                                $optionContent.text(n.name);
                                $optionContent.val(n.id);
                                $optionContent.appendTo($("#ftype"));
                            })
                            layer.open({
                                type: 1,
                                title:"当前登陆账号为：" + [[${session.user.username}]],
                                area: ['350px', '200px'],
                                content: $("#loginType"),
                                btn: ['确定'],
                                yes:function () {
                                    if($("#ftype").val()==0){
                                        layer.msg("角色未选择，请重新选择", {time:2000, icon:5, shift:5})
                                        return false
                                    }
                                    var roleId = $("#ftype").val();
                                    //alert(roleId)
                                    window.location.href= [[@{|/doLogin/|}]] + roleId;
                                },
                                cancel:function (index, layer) {
                                    layer.close(index)
                                }
                            });
                        }else{
                            layer.msg(result.message,{time:2000, icon:5, shift:5})
                        }
                    }

				});

            })
        })



	</script>
</head>

<body>
	<!-- WRAPPER -->
	<div id="wrapper">
		<div class="vertical-align-wrap">
			<div class="vertical-align-middle">
				<div class="auth-box ">
					<div class="left">
						<div class="content">
							<div class="header">
								<!--<div class="logo text-center">-->
									<!--&lt;!&ndash;<img th:src="@{|/img/logo-dark.png|}">&ndash;&gt;-->
								<!--</div>-->
								<!--<p class="lead">请登录系统</p>-->
							</div>
							<form class="form-auth-small" method="post">
								<div class="form-group">
									<label for="floginacct" class="control-label sr-only">UM账号</label>
									<input type="text" class="form-control" id="floginacct" name="loginacct" placeholder="UM账号">
								</div>
								<div class="form-group">
									<label for="fpassword" class="control-label sr-only">密码</label>
									<!--<input type="password" class="form-control" id="md5_password"  placeholder="密码">-->
									<input type="password" class="form-control" name="password" id="fpassword" placeholder="密码">

								</div>
								<div class="form-group">
									<span id="fmessage" style="color: red"></span>
								</div>
								<div class="form-group clearfix">
									<label class="fancy-checkbox element-left">
										<input type="checkbox" name="remember_me">
										<span>7天免登录</span>
									</label>
								</div>
								<a class="btn btn-primary btn-lg btn-block" id="loginBtn">登录</a>
								<div class="bottom">
									<span class="helper-text"><i class="fa fa-lock"></i> <a href="#">修改密码</a></span>
								</div>

								<div id="loginType" style="display: none" class="form-group">
									<label for="ftype">请选择登陆角色：</label>
									<select class="form-control" id="ftype" name="type">
										<option value="0">请选择</option>
									</select>
								</div>
							</form>
						</div>
					</div>
					<div class="right">
						<div class="overlay"></div>
						<div class="content text">
							<h1 class="heading">电话及网络资源管理系统</h1>
							<p>中国平安人寿保险股份有限公司东莞中心支公司</p>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
	<!-- END WRAPPER -->
</body>

</html>
