<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Tables</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!-- VENDOR CSS -->
    <link rel="stylesheet" th:href="@{|/static/js/vendor/bootstrap/css/bootstrap.min.css|}">
    <link rel="stylesheet" th:href="@{|/static/js/vendor/font-awesome/css/font-awesome.min.css|}">
    <link rel="stylesheet" th:href="@{|/static/js/vendor/linearicons/style.css|}">
    <!-- MAIN CSS -->
    <link rel="stylesheet" th:href="@{|/static/css/main.css|}">
    <!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
    <link rel="stylesheet" th:href="@{|/static/css/demo.css|}">
    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    <!-- ICONS -->
    <link rel="apple-touch-icon" sizes="76x76" th:href="@{|/static/img/apple-icon.png|}">
    <link rel="icon" type="image/png" sizes="96x96" th:href="@{|/static/img/favicon.png|}">
    <!-- Javascript -->
    <script th:src="@{|/static/js/vendor/jquery/jquery.min.js|}"></script>
    <script th:src="@{|/static/js/vendor/bootstrap/js/bootstrap.min.js|}"></script>
    <script th:src="@{|/static/js/vendor/jquery-slimscroll/jquery.slimscroll.min.js|}"></script>
    <script th:src="@{|/static/js/layer/layer.js|}"></script>
    <script th:src="@{|/static/js/common.js|}"></script>
</head>

<body>
<!-- WRAPPER -->
<div id="header" th:include="/commons/header :: headerContext"></div>
<div id="wrapper">
    <!-- NAVBAR -->
    <!--<div class="header"></div>-->
    <div id="left_sidebar" th:include="/commons/left_sidebar :: leftContext"></div>
    <!-- END LEFT SIDEBAR -->
    <!-- MAIN -->
    <div class="main">
        <!-- MAIN CONTENT -->
        <div class="main-content">
            <div class="container-fluid">
                <!--<h3 class="page-title">Tables</h3>-->
                <ol class="breadcrumb">
                    <li><a th:href="@{|#|}">首页</a></li>
                    <li><a th:href="@{|#|}">资源管理</a></li>
                    <li class="active">资源台账</li>
                </ol>
                <div class="row">
                    <div class="col-md-12">
                        <!-- BASIC TABLE -->
                        <div class="panel">
                            <div class="panel-body">
                                <form id="form">
                                    <div class="form-group">
                                        <label for="fname">角色名称</label>
                                        <input type="text" class="form-control" id="fname" placeholder="请输入角色名称" th:value="${role.name}">
                                    </div>
                                    <div class="form-group">
                                        <input type="hidden" class="form-control" id="fid" th:value="${role.id}">
                                    </div>
                                    <button type="button" id="updatebtn" class="btn btn-success"><i class="glyphicon glyphicon-plus"></i> 修改</button>
                                    <button type="button" class="btn btn-danger" id="resetBtn"><i class="glyphicon glyphicon-refresh"></i> 重置</button>
                                </form>
                            </div>
                        </div>
                        <!-- END BASIC TABLE -->
                    </div>
                </div>
            </div>
        </div>
        <!-- END MAIN CONTENT -->
    </div>
    <!-- END MAIN -->
    <div class="clearfix"></div>
    <!--<div class="footer"></div>-->
    <div id="footer" th:include="/commons/footer :: footerContext"></div>
</div>
<!-- END WRAPPER -->
<script type="text/javascript">

    //获取表单提交的数据
    var fname = $("#fname");
    var fid = $("#fid");

    var loadingIndex = -1;

    $("#updatebtn").click(function () {
        $.ajax({
            type:"post",
            url:"[[@{|/auth/role/doUpdate|}]]",
            data:{
                id:fid.val(),
                name:fname.val(),
            },
            beforeSend:function () {

                //验证角色名
                if($.trim(fname.val()) == ""){
                    layer.msg("角色名不能为空，请重新输入", {time:2000, icon:5, shift:5},function () {
                        fname.val("");
                        fname.focus();
                    })
                    return false
                }

                loadingIndex = layer.load(3, {time: 10*1000});
            },
            
            success:function (result) {
                layer.close(loadingIndex);
                if(result.success==true) {
                    window.location.href='[[@{|/auth/role/toIndex|}]]';
                }else{
                    layer.msg(result.message,{time:2000, icon:5, shift:5})
                }

            },

        })
    })

    $("#resetBtn").click(function () {
        $("#form")[0].reset();
    })


</script>
</body>

</html>
