<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dgpalife.resourcemanagement.mapper.DepartmentMapper">
  <resultMap id="BaseResultMap" type="com.dgpalife.resourcemanagement.model.Department">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="parentDeptID" jdbcType="BIGINT" property="parentdeptid" />
    <result column="DeptName" jdbcType="VARCHAR" property="deptname" />
    <result column="isSecretary" jdbcType="VARCHAR" property="issecretary" />
    <result column="CreatorUM" jdbcType="VARCHAR" property="creatorum" />
    <result column="CreateTime" jdbcType="DATE" property="createtime" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, parentDeptID, DeptName, isSecretary, CreatorUM, CreateTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from department
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from department
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.dgpalife.resourcemanagement.model.Department">
    insert into department (ID, parentDeptID, DeptName, 
      isSecretary, CreatorUM, CreateTime
      )
    values (#{id,jdbcType=BIGINT}, #{parentdeptid,jdbcType=BIGINT}, #{deptname,jdbcType=VARCHAR}, 
      #{issecretary,jdbcType=VARCHAR}, #{creatorum,jdbcType=VARCHAR}, #{createtime,jdbcType=DATE}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.dgpalife.resourcemanagement.model.Department">
    insert into department
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="parentdeptid != null">
        parentDeptID,
      </if>
      <if test="deptname != null">
        DeptName,
      </if>
      <if test="issecretary != null">
        isSecretary,
      </if>
      <if test="creatorum != null">
        CreatorUM,
      </if>
      <if test="createtime != null">
        CreateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="parentdeptid != null">
        #{parentdeptid,jdbcType=BIGINT},
      </if>
      <if test="deptname != null">
        #{deptname,jdbcType=VARCHAR},
      </if>
      <if test="issecretary != null">
        #{issecretary,jdbcType=VARCHAR},
      </if>
      <if test="creatorum != null">
        #{creatorum,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dgpalife.resourcemanagement.model.Department">
    update department
    <set>
      <if test="parentdeptid != null">
        parentDeptID = #{parentdeptid,jdbcType=BIGINT},
      </if>
      <if test="deptname != null">
        DeptName = #{deptname,jdbcType=VARCHAR},
      </if>
      <if test="issecretary != null">
        isSecretary = #{issecretary,jdbcType=VARCHAR},
      </if>
      <if test="creatorum != null">
        CreatorUM = #{creatorum,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        CreateTime = #{createtime,jdbcType=DATE},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dgpalife.resourcemanagement.model.Department">
    update department
    set parentDeptID = #{parentdeptid,jdbcType=BIGINT},
      DeptName = #{deptname,jdbcType=VARCHAR},
      isSecretary = #{issecretary,jdbcType=VARCHAR},
      CreatorUM = #{creatorum,jdbcType=VARCHAR},
      CreateTime = #{createtime,jdbcType=DATE}
    where ID = #{id,jdbcType=BIGINT}
  </update>
</mapper>