<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dgpalife.resourcemanagement.mapper.EquipmentPortMapper">
  <resultMap id="BaseResultMap" type="com.dgpalife.resourcemanagement.model.EquipmentPort">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="port_type" jdbcType="VARCHAR" property="port_type" />
    <result column="port_no" jdbcType="INTEGER" property="port_no" />
    <result column="equipment_id" jdbcType="BIGINT" property="equipment_id" />
    <result column="resource_id" jdbcType="BIGINT" property="resource_id" />
    <result column="create_time" jdbcType="VARCHAR" property="create_time" />
    <result column="creator_id" jdbcType="BIGINT" property="creator_id" />
  </resultMap>
  <sql id="Base_Column_List">
    id ,port_type, port_no, equipment_id, resource_id, create_time, creator_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_equipment_port
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_equipment_port
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.dgpalife.resourcemanagement.model.EquipmentPort">
    insert into t_equipment_port (
      id ,port_type, port_no, equipment_id, resource_id, create_time, creator_id
      )
    values (
      #{id,jdbcType=BIGINT}, #{port_type,jdbcType=VARCHAR}, #{port_no,jdbcType=INTEGER}, #{equipment_id,jdbcType=BIGINT},
      #{resource_id,jdbcType=BIGINT}, #{create_time,jdbcType=VARCHAR}, #{creator_id,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.dgpalife.resourcemanagement.model.EquipmentPort">
    insert into t_equipment_port
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="port_type != null">
        port_type,
      </if>
      <if test="port_no != null">
        port_no,
      </if>
      <if test="equipment_id != null">
        equipment_id,
      </if>
      <if test="resource_id != null">
        resource_id,
      </if>
      <if test="create_time != null">
        create_time,
      </if>
      <if test="creator_id != null">
        creator_id
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="port_type != null">
        #{port_type,jdbcType=VARCHAR},
      </if>
      <if test="port_no != null">
        #{port_no,jdbcType=INTEGER},
      </if>
      <if test="equipment_id != null">
        #{equipment_id,jdbcType=BIGINT},
      </if>
      <if test="resource_id != null">
        #{resource_id,jdbcType=BIGINT},
      </if>
      <if test="create_time != null">
        #{create_time,jdbcType=VARCHAR},
      </if>
      <if test="creator_id != null">
        #{creator_id,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dgpalife.resourcemanagement.model.EquipmentPort">
    update t_equipment_port
    <set>
      <if test="port_type != null">
        port_type = #{port_type,jdbcType=VARCHAR},
      </if>
      <if test="port_no != null">
        port_no = #{port_no,jdbcType=INTEGER},
      </if>
      <if test="equipment_id != null">
        equipment_id = #{equipment_id,jdbcType=BIGINT},
      </if>
      <if test="resource_id != null">
        resource_id = #{resource_id,jdbcType=BIGINT},
      </if>
      <if test="create_time != null">
        create_time = #{create_time,jdbcType=VARCHAR},
      </if>
      <if test="creator_id != null">
        creator_id = #{creator_id,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dgpalife.resourcemanagement.model.EquipmentPort">
    update t_equipment_port
    set port_type = #{port_type,jdbcType=VARCHAR},
      port_no = #{port_no,jdbcType=INTEGER},
      equipment_id = #{equipment_id,jdbcType=BIGINT},
      resource_id = #{resource_id,jdbcType=BIGINT},
      create_time = #{create_time,jdbcType=VARCHAR},
      creator_id = #{creator_id,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>