<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dgpalife.resourcemanagement.mapper.EquipmentPurchaseRecordMapper">
  <resultMap id="BaseResultMap" type="com.dgpalife.resourcemanagement.model.EquipmentPurchaseRecord">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="purchase_num" jdbcType="INTEGER" property="purchaseNum" />
    <result column="expense_id" jdbcType="BIGINT" property="expenseId" />
    <result column="equipment_type" jdbcType="VARCHAR" property="equipment_type" />
    <result column="project_id" jdbcType="BIGINT" property="projectId" />
    <result column="order_id" jdbcType="BIGINT" property="orderId" />
    <result column="creator_id" jdbcType="BIGINT" property="creatorId" />
    <result column="create_time" jdbcType="VARCHAR" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, purchase_num, expense_id, equipment_type, project_id, order_id,
    creator_id, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_equipment_purchase_record
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_equipment_purchase_record
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.dgpalife.resourcemanagement.model.EquipmentPurchaseRecord">
    insert into t_equipment_purchase_record (
      id, purchase_num, expense_id, equipment_type, project_id, order_id,
      creator_id, create_time
      )
    values (#{id,jdbcType=BIGINT}, #{purchaseNum,jdbcType=INTEGER}, #{expenseId,jdbcType=BIGINT},
      #{equipment_type,jdbcType=VARCHAR}, #{projectId,jdbcType=BIGINT},
      #{orderId,jdbcType=BIGINT}, #{creatorId,jdbcType=BIGINT}, #{createTime,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.dgpalife.resourcemanagement.model.EquipmentPurchaseRecord">
    insert into t_equipment_purchase_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="purchaseNum != null">
        purchase_num,
      </if>
      <if test="expenseId != null">
        expense_id,
      </if>
      <if test="equipment_type != null">
        equipment_type,
      </if>
      <if test="projectId != null">
        project_id,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="creatorId != null">
        creator_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="purchaseNum != null">
        #{purchaseNum,jdbcType=INTEGER},
      </if>
      <if test="expenseId != null">
        #{expenseId,jdbcType=BIGINT},
      </if>
      <if test="equipment_type != null">
        #{equipment_type,jdbcType=VARCHAR},
      </if>
      <if test="projectId != null">
        #{projectId,jdbcType=BIGINT},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=BIGINT},
      </if>
      <if test="creatorId != null">
        #{creatorId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dgpalife.resourcemanagement.model.EquipmentPurchaseRecord">
    update t_equipment_purchase_record
    <set>
      <if test="purchaseNum != null">
        purchase_num = #{purchaseNum,jdbcType=INTEGER},
      </if>
      <if test="expenseId != null">
        expense_id = #{expenseId,jdbcType=BIGINT},
      </if>
      <if test="equipment_type != null">
        equipment_type = #{equipment_type,jdbcType=VARCHAR},
      </if>
      <if test="projectId != null">
        project_id = #{projectId,jdbcType=BIGINT},
      </if>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=BIGINT},
      </if>
      <if test="creatorId != null">
        creator_id = #{creatorId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dgpalife.resourcemanagement.model.EquipmentPurchaseRecord">
    update t_equipment_purchase_record
    set purchase_num = #{purchaseNum,jdbcType=INTEGER},
      expense_id = #{expenseId,jdbcType=BIGINT},
      equipment_type = #{equipment_type,jdbcType=VARCHAR},
      project_id = #{projectId,jdbcType=BIGINT},
      order_id = #{orderId,jdbcType=BIGINT},
      creator_id = #{creatorId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="selectEquipmentPurchaseRecordByOrderID" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM t_equipment_purchase_record
    WHERE order_id = #{id}
  </select>

  <select id="getPurchaseNumByOrderId" resultType="java.lang.Integer">
    SELECT SUM(purchase_num) AS purchase_num
    FROM t_equipment_purchase_record
    WHERE order_id = #{order_id}
  </select>
  <delete id="deleteByOrderId" parameterType="java.lang.Long">
    delete from t_equipment_purchase_record
    where order_id = #{orderId,jdbcType=BIGINT}
  </delete>
</mapper>