<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dgpalife.resourcemanagement.mapper.ItemMapper">
  <resultMap id="BaseResultMap" type="com.dgpalife.resourcemanagement.model.Item">
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="item_name" jdbcType="VARCHAR" property="item_name" />
    <result column="table_field" jdbcType="VARCHAR" property="table_field" />
    <result column="table_names" jdbcType="VARCHAR" property="table_names" />
    <result column="table_primary_key" jdbcType="BIGINT" property="table_primary_key" />
    <result column="create_time" jdbcType="VARCHAR" property="create_time" />
    <result column="creator_id" jdbcType="BIGINT" property="creator_id" />
  </resultMap>
  <insert id="insert" parameterType="com.dgpalife.resourcemanagement.model.Item">
    insert into t_item (id, item_name, table_field, 
      table_names, table_primary_key, create_time, 
      creator_id)
    values (#{id,jdbcType=BIGINT}, #{item_name,jdbcType=VARCHAR}, #{table_field,jdbcType=VARCHAR}, 
      #{table_names,jdbcType=VARCHAR}, #{table_primary_key,jdbcType=BIGINT}, #{create_time,jdbcType=VARCHAR}, 
      #{creator_id,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.dgpalife.resourcemanagement.model.Item">
    insert into t_item
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="item_name != null">
        item_name,
      </if>
      <if test="table_field != null">
        table_field,
      </if>
      <if test="table_names != null">
        table_names,
      </if>
      <if test="table_primary_key != null">
        table_primary_key,
      </if>
      <if test="create_time != null">
        create_time,
      </if>
      <if test="creator_id != null">
        creator_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="item_name != null">
        #{item_name,jdbcType=VARCHAR},
      </if>
      <if test="table_field != null">
        #{table_field,jdbcType=VARCHAR},
      </if>
      <if test="table_names != null">
        #{table_names,jdbcType=VARCHAR},
      </if>
      <if test="table_primary_key != null">
        #{table_primary_key,jdbcType=BIGINT},
      </if>
      <if test="create_time != null">
        #{create_time,jdbcType=VARCHAR},
      </if>
      <if test="creator_id != null">
        #{creator_id,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
</mapper>