<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dgpalife.resourcemanagement.mapper.OrderMapper">
  <resultMap id="BaseResultMap" type="com.dgpalife.resourcemanagement.model.Order">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="approval_link_id" jdbcType="BIGINT" property="approvalLinkId" />
    <result column="apply_department_id" jdbcType="BIGINT" property="applyDepartmentId" />
    <result column="proposer_id" jdbcType="BIGINT" property="proposerId" />
    <result column="create_time" jdbcType="VARCHAR" property="createTime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.dgpalife.resourcemanagement.model.Order">
    <result column="reason" jdbcType="LONGVARCHAR" property="reason" />
  </resultMap>
  <sql id="Base_Column_List">
    id, type, status, title, approval_link_id, apply_department_id, proposer_id, create_time
  </sql>
  <sql id="Blob_Column_List">
    reason
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_order
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_order
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.dgpalife.resourcemanagement.model.Order">
    insert into t_order (id, type, status, 
      title, approval_link_id, apply_department_id, 
      proposer_id, create_time, reason
      )
    values (#{id,jdbcType=BIGINT}, #{type,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, 
      #{title,jdbcType=VARCHAR}, #{approvalLinkId,jdbcType=BIGINT}, #{applyDepartmentId,jdbcType=BIGINT}, 
      #{proposerId,jdbcType=BIGINT}, #{createTime,jdbcType=VARCHAR}, #{reason,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.dgpalife.resourcemanagement.model.Order">
    insert into t_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="approvalLinkId != null">
        approval_link_id,
      </if>
      <if test="applyDepartmentId != null">
        apply_department_id,
      </if>
      <if test="proposerId != null">
        proposer_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="reason != null">
        reason,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="approvalLinkId != null">
        #{approvalLinkId,jdbcType=BIGINT},
      </if>
      <if test="applyDepartmentId != null">
        #{applyDepartmentId,jdbcType=BIGINT},
      </if>
      <if test="proposerId != null">
        #{proposerId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="reason != null">
        #{reason,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dgpalife.resourcemanagement.model.Order">
    update t_order
    <set>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="approvalLinkId != null">
        approval_link_id = #{approvalLinkId,jdbcType=BIGINT},
      </if>
      <if test="applyDepartmentId != null">
        apply_department_id = #{applyDepartmentId,jdbcType=BIGINT},
      </if>
      <if test="proposerId != null">
        proposer_id = #{proposerId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="reason != null">
        reason = #{reason,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.dgpalife.resourcemanagement.model.Order">
    update t_order
    set type = #{type,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      approval_link_id = #{approvalLinkId,jdbcType=BIGINT},
      apply_department_id = #{applyDepartmentId,jdbcType=BIGINT},
      proposer_id = #{proposerId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=VARCHAR},
      reason = #{reason,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dgpalife.resourcemanagement.model.Order">
    update t_order
    set type = #{type,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      approval_link_id = #{approvalLinkId,jdbcType=BIGINT},
      apply_department_id = #{applyDepartmentId,jdbcType=BIGINT},
      proposer_id = #{proposerId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>