<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dgpalife.resourcemanagement.mapper.OrdersMapper">
  <resultMap id="BaseResultMap" type="com.dgpalife.resourcemanagement.model.Orders">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="OrdersNo" jdbcType="VARCHAR" property="ordersno" />
    <result column="OrdersType" jdbcType="VARCHAR" property="orderstype" />
    <result column="ResourceNo" jdbcType="VARCHAR" property="resourceno" />
    <result column="ResourceType" jdbcType="VARCHAR" property="resourcetype" />
    <result column="Operator" jdbcType="VARCHAR" property="operator" />
    <result column="Address" jdbcType="VARCHAR" property="address" />
    <result column="NewAddress" jdbcType="VARCHAR" property="newaddress" />
    <result column="Project" jdbcType="VARCHAR" property="project" />
    <result column="AccountDeptNo" jdbcType="VARCHAR" property="accountdeptno" />
    <result column="UseDeptNo" jdbcType="VARCHAR" property="usedeptno" />
    <result column="UserName" jdbcType="VARCHAR" property="username" />
    <result column="Contact" jdbcType="VARCHAR" property="contact" />
    <result column="ChargeType" jdbcType="VARCHAR" property="chargetype" />
    <result column="Expenses" jdbcType="DECIMAL" property="expenses" />
    <result column="CreatorName" jdbcType="VARCHAR" property="creatorname" />
    <result column="CreateTime" jdbcType="DATE" property="createtime" />
    <result column="isVerify" jdbcType="VARCHAR" property="isverify" />
    <result column="UsingNumber" jdbcType="VARCHAR" property="usingnumber" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, OrdersNo, OrdersType, ResourceNo, ResourceType, Operator, Address, NewAddress, 
    Project, AccountDeptNo, UseDeptNo, UserName, Contact, ChargeType, Expenses, CreatorName, 
    CreateTime, isVerify, UsingNumber
  </sql>

  <sql id="Personal_Column_List">
    t1.id tid,
      t1.OrdersNo tNo,
      t1.OrdersType tOType,
      t1.ResourceNo tRNo,
      t1.ResourceType tRType,
      t1.Operator tOperator,
      t1.Address tAdd,
      t1.NewAddress tNewAdd,
      d1.id d1id,
      d1.DeptName pdName,
      d2.id d2id,
      d2.deptName dName,
      t1.UserName t1Uname,
      t1.Contact tContact,
      t1.ChargeType tChType,
      t1.Expenses tExpenses,
      t1.CreatorName,
      t1.CreateTime tCreateTime,
      t1.isVerify tStatus,
      t1.UsingNumber tUNumber
  </sql>

  <!--======================================手动添加============================================-->

  <select id="selectOrdersByCreatorName"  resultType="java.util.HashMap">
    SELECT
      <include refid="Personal_Column_List" />
    FROM
      orders t1,
      department d1,
      department d2
    WHERE t1.AccountDeptNo = d1.deptNo
      AND t1.UseDeptNo = d2.deptNo
      AND t1.CreatorName = #{creatorName}
      ORDER BY tid DESC
  </select>

  <select id="selectOrdersByCreatorNameAndOptionMap" resultType="java.util.HashMap">
    SELECT
      <include refid="Personal_Column_List" />
    FROM
    orders t1,
    department d1,
    department d2
    WHERE t1.AccountDeptNo = d1.deptNo
    AND t1.UseDeptNo = d2.deptNo
    <if test="creatorName != null" >
      AND t1.CreatorName = #{creatorName}
    </if>
    <if test="OrderType != null and OrderType !=''">
      AND t1.OrdersType = #{OrderType}
    </if>
    <!--<if test="Status != null and Status !=''">-->
      <!--AND t1.Status = #{Status}-->
    <!--</if>-->
    <if test="parentDept != null and parentDept !=''">
      AND t1.AccountDeptNo = #{parentDept}
    </if>
    <if test="deptNo != null and deptNo!=''">
      AND t1.UseDeptNo = #{deptNo}
    </if>
    <if test="operator != null and operator != ''">
      AND t1.Operator = #{operator}
    </if>
    <if test="ResourceType != null and ResourceType != ''">
      AND t1.ResourceType = #{ResourceType}
    </if>
    ORDER BY tid DESC
  </select>

  <select id="selectVerifyOrdersNotIncludeOption" resultType="java.util.HashMap">
    SELECT
      <include refid="Personal_Column_List" />
    FROM
      orders t1,
      department d1,
      department d2
    WHERE t1.AccountDeptNo = d1.deptNo
      AND t1.UseDeptNo = d2.deptNo
--       AND t1.Status not in ('待提交','退回修改')
      AND t1.CreatorName = #{creatorName}
      ORDER BY tid DESC

  </select>

  <select id="selectVerifyOrdersByOption" resultType="java.util.HashMap">
    SELECT
    <include refid="Personal_Column_List" />
    FROM
    orders t1,
    department d1,
    department d2
    WHERE t1.AccountDeptNo = d1.deptNo
    AND t1.UseDeptNo = d2.deptNo
--     AND t1.Status not in ('待提交','退回修改')
    <if test="creatorName != null" >
      AND t1.CreatorName = #{creatorName}
    </if>
    <if test="OrderType != null and OrderType !=''">
      AND t1.OrdersType = #{OrderType}
    </if>
    <!--<if test="isVerify != null and isVerify !=''">-->
      <!--AND t1.Status = #{Status}-->
    <!--</if>-->
    <if test="parentDept != null and parentDept !=''">
      AND t1.AccountDeptNo = #{parentDept}
    </if>
    <if test="deptNo != null and deptNo!=''">
      AND t1.UseDeptNo = #{deptNo}
    </if>
    <if test="operator != null and operator != ''">
      AND t1.Operator = #{operator}
    </if>
    <if test="ResourceType != null and ResourceType != ''">
      AND t1.ResourceType = #{ResourceType}
    </if>
    ORDER BY tid DESC
  </select>



  <!--======================================自动生成============================================-->
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from orders
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from orders
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.dgpalife.resourcemanagement.model.Orders">
    insert into orders (ID, OrdersNo, OrdersType, 
      ResourceNo, ResourceType, Operator, 
      Address, NewAddress, Project, 
      AccountDeptNo, UseDeptNo, UserName, 
      Contact, ChargeType, Expenses, 
      CreatorName, CreateTime, Status, 
      UsingNumber)
    values (#{id,jdbcType=BIGINT}, #{ordersno,jdbcType=VARCHAR}, #{orderstype,jdbcType=VARCHAR}, 
      #{resourceno,jdbcType=VARCHAR}, #{resourcetype,jdbcType=VARCHAR}, #{operator,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{newaddress,jdbcType=VARCHAR}, #{project,jdbcType=VARCHAR}, 
      #{accountdeptno,jdbcType=VARCHAR}, #{usedeptno,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, 
      #{contact,jdbcType=VARCHAR}, #{chargetype,jdbcType=VARCHAR}, #{expenses,jdbcType=DECIMAL}, 
      #{creatorname,jdbcType=VARCHAR}, #{createtime,jdbcType=DATE}, #{status,jdbcType=VARCHAR}, 
      #{usingnumber,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.dgpalife.resourcemanagement.model.Orders">
    insert into orders
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="ordersno != null">
        OrdersNo,
      </if>
      <if test="orderstype != null">
        OrdersType,
      </if>
      <if test="resourceno != null">
        ResourceNo,
      </if>
      <if test="resourcetype != null">
        ResourceType,
      </if>
      <if test="operator != null">
        Operator,
      </if>
      <if test="address != null">
        Address,
      </if>
      <if test="newaddress != null">
        NewAddress,
      </if>
      <if test="project != null">
        Project,
      </if>
      <if test="accountdeptno != null">
        AccountDeptNo,
      </if>
      <if test="usedeptno != null">
        UseDeptNo,
      </if>
      <if test="username != null">
        UserName,
      </if>
      <if test="contact != null">
        Contact,
      </if>
      <if test="chargetype != null">
        ChargeType,
      </if>
      <if test="expenses != null">
        Expenses,
      </if>
      <if test="creatorname != null">
        CreatorName,
      </if>
      <if test="createtime != null">
        CreateTime,
      </if>
      <if test="status != null">
        Status,
      </if>
      <if test="usingnumber != null">
        UsingNumber,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="ordersno != null">
        #{ordersno,jdbcType=VARCHAR},
      </if>
      <if test="orderstype != null">
        #{orderstype,jdbcType=VARCHAR},
      </if>
      <if test="resourceno != null">
        #{resourceno,jdbcType=VARCHAR},
      </if>
      <if test="resourcetype != null">
        #{resourcetype,jdbcType=VARCHAR},
      </if>
      <if test="operator != null">
        #{operator,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="newaddress != null">
        #{newaddress,jdbcType=VARCHAR},
      </if>
      <if test="project != null">
        #{project,jdbcType=VARCHAR},
      </if>
      <if test="accountdeptno != null">
        #{accountdeptno,jdbcType=VARCHAR},
      </if>
      <if test="usedeptno != null">
        #{usedeptno,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="contact != null">
        #{contact,jdbcType=VARCHAR},
      </if>
      <if test="chargetype != null">
        #{chargetype,jdbcType=VARCHAR},
      </if>
      <if test="expenses != null">
        #{expenses,jdbcType=DECIMAL},
      </if>
      <if test="creatorname != null">
        #{creatorname,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=DATE},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="usingnumber != null">
        #{usingnumber,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dgpalife.resourcemanagement.model.Orders">
    update orders
    <set>
      <if test="ordersno != null">
        OrdersNo = #{ordersno,jdbcType=VARCHAR},
      </if>
      <if test="orderstype != null">
        OrdersType = #{orderstype,jdbcType=VARCHAR},
      </if>
      <if test="resourceno != null">
        ResourceNo = #{resourceno,jdbcType=VARCHAR},
      </if>
      <if test="resourcetype != null">
        ResourceType = #{resourcetype,jdbcType=VARCHAR},
      </if>
      <if test="operator != null">
        Operator = #{operator,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        Address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="newaddress != null">
        NewAddress = #{newaddress,jdbcType=VARCHAR},
      </if>
      <if test="project != null">
        Project = #{project,jdbcType=VARCHAR},
      </if>
      <if test="accountdeptno != null">
        AccountDeptNo = #{accountdeptno,jdbcType=VARCHAR},
      </if>
      <if test="usedeptno != null">
        UseDeptNo = #{usedeptno,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        UserName = #{username,jdbcType=VARCHAR},
      </if>
      <if test="contact != null">
        Contact = #{contact,jdbcType=VARCHAR},
      </if>
      <if test="chargetype != null">
        ChargeType = #{chargetype,jdbcType=VARCHAR},
      </if>
      <if test="expenses != null">
        Expenses = #{expenses,jdbcType=DECIMAL},
      </if>
      <if test="creatorname != null">
        CreatorName = #{creatorname,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        CreateTime = #{createtime,jdbcType=DATE},
      </if>
      <if test="status != null">
        Status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="usingnumber != null">
        UsingNumber = #{usingnumber,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dgpalife.resourcemanagement.model.Orders">
    update orders
    set OrdersNo = #{ordersno,jdbcType=VARCHAR},
      OrdersType = #{orderstype,jdbcType=VARCHAR},
      ResourceNo = #{resourceno,jdbcType=VARCHAR},
      ResourceType = #{resourcetype,jdbcType=VARCHAR},
      Operator = #{operator,jdbcType=VARCHAR},
      Address = #{address,jdbcType=VARCHAR},
      NewAddress = #{newaddress,jdbcType=VARCHAR},
      Project = #{project,jdbcType=VARCHAR},
      AccountDeptNo = #{accountdeptno,jdbcType=VARCHAR},
      UseDeptNo = #{usedeptno,jdbcType=VARCHAR},
      UserName = #{username,jdbcType=VARCHAR},
      Contact = #{contact,jdbcType=VARCHAR},
      ChargeType = #{chargetype,jdbcType=VARCHAR},
      Expenses = #{expenses,jdbcType=DECIMAL},
      CreatorName = #{creatorname,jdbcType=VARCHAR},
      CreateTime = #{createtime,jdbcType=DATE},
      Status = #{status,jdbcType=VARCHAR},
      UsingNumber = #{usingnumber,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=BIGINT}
  </update>
</mapper>