<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dgpalife.resourcemanagement.mapper.ResourceRemovementMapper">
  <resultMap id="BaseResultMap" type="com.dgpalife.resourcemanagement.model.ResourceRemovement">
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="resource_id" jdbcType="BIGINT" property="resource_id" />
    <result column="resource_no" jdbcType="VARCHAR" property="resource_no" />
    <result column="resourc_type" jdbcType="VARCHAR" property="resourc_type" />
    <result column="operator" jdbcType="VARCHAR" property="operator" />
    <result column="workplaceName" jdbcType="VARCHAR" property="workplaceName" />
    <result column="networkroom_name" jdbcType="VARCHAR" property="networkroom_name" />
    <result column="departmentName" jdbcType="VARCHAR" property="departmentName" />
    <result column="usedepartmentName" jdbcType="VARCHAR" property="usedepartmentName" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="order_id" jdbcType="BIGINT" property="order_id" />
    <result column="project_id" jdbcType="BIGINT" property="project_id" />
    <result column="template_id" jdbcType="BIGINT" property="template_id" />
    <result column="creator_id" jdbcType="BIGINT" property="creator_id" />
    <result column="create_time" jdbcType="VARCHAR" property="create_time" />
  </resultMap>
  <sql id="Base_Column_List">
    id, resource_id, resource_no,
      resourc_type, operator, workplaceName,networkroom_name,
      departmentName, usedepartmentName, username,
      order_id, project_id, template_id,
      creator_id, create_time
  </sql>
  <insert id="insert" parameterType="com.dgpalife.resourcemanagement.model.ResourceRemovement">
    insert into t_resource_removement (id, resource_id, resource_no, 
      resourc_type, operator, workplaceName, networkroom_name,
      departmentName, usedepartmentName, username, 
      order_id, project_id, template_id, 
      creator_id, create_time)
    values (#{id,jdbcType=BIGINT}, #{resource_id,jdbcType=BIGINT}, #{resource_no,jdbcType=VARCHAR}, 
      #{resourc_type,jdbcType=VARCHAR}, #{operator,jdbcType=VARCHAR}, #{workplaceName,jdbcType=VARCHAR}, #{networkroom_name,jdbcType=VARCHAR},
      #{departmentName,jdbcType=VARCHAR}, #{usedepartmentName,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, 
      #{order_id,jdbcType=BIGINT}, #{project_id,jdbcType=BIGINT}, #{template_id,jdbcType=BIGINT}, 
      #{creator_id,jdbcType=BIGINT}, #{create_time,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.dgpalife.resourcemanagement.model.ResourceRemovement">
    insert into t_resource_removement
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="resource_id != null">
        resource_id,
      </if>
      <if test="resource_no != null">
        resource_no,
      </if>
      <if test="resourc_type != null">
        resourc_type,
      </if>
      <if test="operator != null">
        operator,
      </if>
      <if test="workplaceName != null">
        workplaceName,
      </if>
      <if test="networkroom_name != null">
        networkroom_name,
      </if>
      <if test="departmentName != null">
        departmentName,
      </if>
      <if test="usedepartmentName != null">
        usedepartmentName,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="order_id != null">
        order_id,
      </if>
      <if test="project_id != null">
        project_id,
      </if>
      <if test="template_id != null">
        template_id,
      </if>
      <if test="creator_id != null">
        creator_id,
      </if>
      <if test="create_time != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="resource_id != null">
        #{resource_id,jdbcType=BIGINT},
      </if>
      <if test="resource_no != null">
        #{resource_no,jdbcType=VARCHAR},
      </if>
      <if test="resourc_type != null">
        #{resourc_type,jdbcType=VARCHAR},
      </if>
      <if test="operator != null">
        #{operator,jdbcType=VARCHAR},
      </if>
      <if test="workplaceName != null">
        #{workplaceName,jdbcType=VARCHAR},
      </if>
      <if test="networkroom_name != null">
        #{networkroom_name,jdbcType=VARCHAR},
      </if>
      <if test="departmentName != null">
        #{departmentName,jdbcType=VARCHAR},
      </if>
      <if test="usedepartmentName != null">
        #{usedepartmentName,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="order_id != null">
        #{order_id,jdbcType=BIGINT},
      </if>
      <if test="project_id != null">
        #{project_id,jdbcType=BIGINT},
      </if>
      <if test="template_id != null">
        #{template_id,jdbcType=BIGINT},
      </if>
      <if test="creator_id != null">
        #{creator_id,jdbcType=BIGINT},
      </if>
      <if test="create_time != null">
        #{create_time,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <insert id="saveResourceRemovementListByBatch" parameterType="java.util.List">
    insert into t_resource_removement (resource_id, resource_no,
    resourc_type, operator, workplaceName,networkroom_name,
    departmentName, usedepartmentName, username,
    order_id, project_id, template_id,
    creator_id, create_time)
    values
    <foreach collection="list" item="item" separator=",">
      (#{resource_id,jdbcType=BIGINT}, #{resource_no,jdbcType=VARCHAR},
      #{resourc_type,jdbcType=VARCHAR}, #{operator,jdbcType=VARCHAR}, #{workplaceName,jdbcType=VARCHAR},#{networkroom_name,jdbcType=VARCHAR},
      #{departmentName,jdbcType=VARCHAR}, #{usedepartmentName,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR},
      #{order_id,jdbcType=BIGINT}, #{project_id,jdbcType=BIGINT}, #{template_id,jdbcType=BIGINT},
      #{creator_id,jdbcType=BIGINT}, #{create_time,jdbcType=VARCHAR})
    </foreach>
  </insert>

  <select id="selectResourceRemovementListByOrderId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_resource_removement
    where order_id = #{id,jdbcType=BIGINT}
  </select>

  <delete id="deleteByOrderId" parameterType="java.lang.Long">
    delete from t_resource_removement
    where order_id = #{orderId,jdbcType=BIGINT}
  </delete>
</mapper>