<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dgpalife.resourcemanagement.mapper.ResourceMapper">
  <resultMap id="BaseResultMap" type="com.dgpalife.resourcemanagement.model.Resource">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="resource_no" jdbcType="VARCHAR" property="resource_no" />
    <result column="resourc_type" jdbcType="VARCHAR" property="resourc_type" />
    <result column="operator" jdbcType="VARCHAR" property="operator" />
    <result column="workplace_id" jdbcType="BIGINT" property="workplace_id" />
    <result column="network_room_id" jdbcType="BIGINT" property="network_room_id" />
    <result column="department_id" jdbcType="BIGINT" property="department_id" />
    <result column="usedepartment_id" jdbcType="BIGINT" property="usedepartment_id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="equipment_id" jdbcType="BIGINT" property="equipment_id" />
    <result column="equipment_port_id" jdbcType="BIGINT" property="equipment_port_id" />
    <result column="expense_id" jdbcType="BIGINT" property="expense_id" />
    <result column="account_center" jdbcType="VARCHAR" property="account_center" />
    <result column="create_time" jdbcType="VARCHAR" property="create_time" />
    <result column="creator_id" jdbcType="BIGINT" property="creator_id" />
  </resultMap>
  <sql id="Base_Column_List">
    id, resource_no, resourc_type, operator, workplace_id, network_room_id, department_id, usedepartment_id,
    username, equipment_id, equipment_port_id, expense_id, account_center, create_time, creator_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_resource
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_resource
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.dgpalife.resourcemanagement.model.Resource">
    insert into t_resource (
      id, resource_no, resourc_type, operator, workplace_id, network_room_id, department_id, usedepartment_id,
      username, equipment_id, equipment_port_id, expense_id, account_center, create_time, creator_id
    )
    values (#{id,jdbcType=BIGINT}, #{resource_no,jdbcType=VARCHAR}, #{resourc_type,jdbcType=VARCHAR},
      #{operator,jdbcType=VARCHAR},#{workplace_id,jdbcType=BIGINT}, #{network_room_id,jdbcType=BIGINT},
      #{department_id,jdbcType=BIGINT}, #{usedepartment_id,jdbcType=BIGINT},
      #{username,jdbcType=VARCHAR}, #{equipment_id,jdbcType=BIGINT}, #{equipment_port_id,jdbcType=BIGINT},
      #{expense_id,jdbcType=BIGINT},#{account_center,jdbcType=VARCHAR},
      #{create_time,jdbcType=VARCHAR}, #{creator_id,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.dgpalife.resourcemanagement.model.Resource">
    insert into t_resource
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="resource_no != null">
        resource_no,
      </if>
      <if test="resourc_type != null">
        resourc_type,
      </if>
      <if test="operator != null">
        operator,
      </if>
      <if test="workplace_id != null">
        workplace_id,
      </if>
      <if test="network_room_id != null">
        network_room_id,
      </if>
      <if test="department_id != null">
        department_id,
      </if>
      <if test="usedepartment_id != null">
        usedepartment_id,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="equipment_id != null">
        equipment_id,
      </if>
      <if test="equipment_port_id != null">
        equipment_port_id,
      </if>
      <if test="expense_id != null">
        expense_id,
      </if>
      <if test="account_center != null">
        account_center,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="creatorId != null">
        creator_id
      </if>

    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="resource_no != null">
        #{resource_no,jdbcType=VARCHAR},
      </if>
      <if test="resourc_type != null">
        #{resourc_type,jdbcType=VARCHAR},
      </if>
      <if test="operator != null">
        #{operator,jdbcType=VARCHAR},
      </if>
      <if test="workplace_id != null">
        #{workplace_id,jdbcType=BIGINT},
      </if>
      <if test="network_room_id != null">
        #{network_room_id,jdbcType=BIGINT},
      </if>
      <if test="department_id != null">
        #{department_id,jdbcType=BIGINT},
      </if>
      <if test="usedepartment_id != null">
        #{usedepartment_id,jdbcType=BIGINT},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="equipment_id != null">
        #{equipment_id,jdbcType=BIGINT},
      </if>
      <if test="equipment_port_id != null">
        #{equipment_port_id,jdbcType=BIGINT},
      </if>
      <if test="expense_id != null">
        #{expense_id,jdbcType=BIGINT},
      </if>
      <if test="account_center != null">
        #{account_center,jdbcType=VARCHAR},
      </if>
      <if test="create_time != null">
        #{create_time,jdbcType=VARCHAR},
      </if>
      <if test="creator_id != null">
        #{creator_id,jdbcType=BIGINT}
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dgpalife.resourcemanagement.model.Resource">
    update t_resource
    <set>
      <if test="resource_no != null">
        resource_no = #{resource_no,jdbcType=VARCHAR},
      </if>
      <if test="resourc_type != null">
        resourc_type = #{resourc_type,jdbcType=VARCHAR},
      </if>
      <if test="operator != null">
        operator = #{operator,jdbcType=VARCHAR},
      </if>
      <if test="workplace_id != null">
        workplace_id = #{workplace_id,jdbcType=BIGINT},
      </if>
      <if test="network_room_id != null">
        network_room_id = #{network_room_id,jdbcType=BIGINT},
      </if>
      <if test="department_id != null">
        department_id = #{department_id,jdbcType=BIGINT},
      </if>
      <if test="usedepartment_id != null">
        usedepartment_id = #{usedepartment_id,jdbcType=BIGINT},
      </if>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="equipment_id != null">
        equipment_id = #{equipment_id,jdbcType=BIGINT},
      </if>
      <if test="equipment_port_id != null">
        equipment_port_id = #{equipment_port_id,jdbcType=BIGINT},
      </if>
      <if test="expense_id != null">
        expense_id = #{expense_id,jdbcType=BIGINT},
      </if>
      <if test="account_center != null">
        account_center = #{account_center,jdbcType=VARCHAR},
      </if>
      <if test="create_time != null">
        create_time = #{create_time,jdbcType=VARCHAR},
      </if>
      <if test="creator_id != null">
        creator_id = #{creator_id,jdbcType=BIGINT}
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dgpalife.resourcemanagement.model.Resource">
    update t_resource
    set
      resource_no = #{resource_no,jdbcType=VARCHAR},
      resourc_type = #{resourc_type,jdbcType=VARCHAR},
      operator = #{operator,jdbcType=VARCHAR},
      workplace_id = #{workplace_id,jdbcType=BIGINT},
      network_room_id = #{network_room_id,jdbcType=BIGINT},
      department_id = #{department_id,jdbcType=BIGINT},
      usedepartment_id = #{usedepartment_id,jdbcType=BIGINT},
      username = #{username,jdbcType=VARCHAR},
      equipment_id = #{equipment_id,jdbcType=BIGINT},
      equipment_port_id = #{equipment_port_id,jdbcType=BIGINT},
      expense_id = #{expense_id,jdbcType=BIGINT},
      account_center = #{account_center,jdbcType=VARCHAR},
      create_time = #{create_time,jdbcType=VARCHAR},
      creator_id = #{creator_id,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="queryByResourceNo" resultType="java.lang.Integer">
    SELECT count(id) from t_resource
    WHERE resource_no = #{resource_no,jdbcType=VARCHAR}
  </select>
</mapper>