<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dgpalife.resourcemanagement.mapper.ResourceMapper">
  <resultMap id="BaseResultMap" type="com.dgpalife.resourcemanagement.model.Resource">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="resource_no" jdbcType="VARCHAR" property="resourceNo" />
    <result column="resourc_type" jdbcType="VARCHAR" property="resourcType" />
    <result column="operator" jdbcType="VARCHAR" property="operator" />
    <result column="network_room_id" jdbcType="BIGINT" property="networkRoomId" />
    <result column="department_id" jdbcType="BIGINT" property="departmentId" />
    <result column="usedepartment_id" jdbcType="BIGINT" property="usedepartmentId" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="equipment_port_id" jdbcType="BIGINT" property="equipmentPortId" />
    <result column="expense_id" jdbcType="BIGINT" property="expenseId" />
    <result column="create_time" jdbcType="VARCHAR" property="createTime" />
    <result column="creator_id" jdbcType="BIGINT" property="creatorId" />
    <result column="workplace_id" jdbcType="BIGINT" property="workplaceId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, resource_no, resourc_type, operator, network_room_id, department_id, usedepartment_id, username,
    equipment_port_id, expense_id, create_time, creator_id, workplace_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_resource
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_resource
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.dgpalife.resourcemanagement.model.Resource">
    insert into t_resource (id, resource_no, resourc_type, 
      operator, network_room_id, department_id, usedepartment_id,
      username, equipment_port_id, expense_id,
      create_time, creator_id,workplace_id)
    values (#{id,jdbcType=BIGINT}, #{resourceNo,jdbcType=VARCHAR}, #{resourcType,jdbcType=VARCHAR}, 
      #{operator,jdbcType=VARCHAR}, #{networkRoomId,jdbcType=BIGINT}, #{departmentId,jdbcType=BIGINT}, #{usedepartmentId,jdbcType=BIGINT},
      #{username,jdbcType=VARCHAR}, #{equipmentPortId,jdbcType=BIGINT}, #{expenseId,jdbcType=BIGINT},
      #{createTime,jdbcType=VARCHAR}, #{creatorId,jdbcType=BIGINT},#{workplaceId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.dgpalife.resourcemanagement.model.Resource">
    insert into t_resource
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="resourceNo != null">
        resource_no,
      </if>
      <if test="resourcType != null">
        resourc_type,
      </if>
      <if test="operator != null">
        operator,
      </if>
      <if test="networkRoomId != null">
        network_room_id,
      </if>
      <if test="departmentId != null">
        department_id,
      </if>
      <if test="usedepartmentId != null">
        usedepartment_id,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="equipmentPortId != null">
        equipment_port_id,
      </if>
      <if test="expenseId != null">
        expense_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="creatorId != null">
        creator_id,
      </if>
      <if test="workplaceId != null">
        workplace_id
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="resourceNo != null">
        #{resourceNo,jdbcType=VARCHAR},
      </if>
      <if test="resourcType != null">
        #{resourcType,jdbcType=VARCHAR},
      </if>
      <if test="operator != null">
        #{operator,jdbcType=VARCHAR},
      </if>
      <if test="networkRoomId != null">
        #{networkRoomId,jdbcType=BIGINT},
      </if>
      <if test="departmentId != null">
        #{departmentId,jdbcType=BIGINT},
      </if>
      <if test="usedepartmentId != null">
        #{usedepartmentId,jdbcType=BIGINT},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="equipmentPortId != null">
        #{equipmentPortId,jdbcType=BIGINT},
      </if>
      <if test="expenseId != null">
        #{expenseId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="creatorId != null">
        #{creatorId,jdbcType=BIGINT},
      </if>
      <if test="workplaceId != null">
        #{workplaceId,jdbcType=BIGINT}
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dgpalife.resourcemanagement.model.Resource">
    update t_resource
    <set>
      <if test="resourceNo != null">
        resource_no = #{resourceNo,jdbcType=VARCHAR},
      </if>
      <if test="resourcType != null">
        resourc_type = #{resourcType,jdbcType=VARCHAR},
      </if>
      <if test="operator != null">
        operator = #{operator,jdbcType=VARCHAR},
      </if>
      <if test="networkRoomId != null">
        network_room_id = #{networkRoomId,jdbcType=BIGINT},
      </if>
      <if test="departmentId != null">
        department_id = #{departmentId,jdbcType=BIGINT},
      </if>
      <if test="usedepartmentId != null">
        usedepartment_id = #{usedepartmentId,jdbcType=BIGINT},
      </if>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="equipmentPortId != null">
        equipment_port_id = #{equipmentPortId,jdbcType=BIGINT},
      </if>
      <if test="expenseId != null">
        expense_id = #{expenseId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="creatorId != null">
        creator_id = #{creatorId,jdbcType=BIGINT},
      </if>
      <if test="workplaceId != null">
        workplace_id = #{workplaceId,jdbcType=BIGINT}
    </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dgpalife.resourcemanagement.model.Resource">
    update t_resource
    set resource_no = #{resourceNo,jdbcType=VARCHAR},
      resourc_type = #{resourcType,jdbcType=VARCHAR},
      operator = #{operator,jdbcType=VARCHAR},
      network_room_id = #{networkRoomId,jdbcType=BIGINT},
      department_id = #{departmentId,jdbcType=BIGINT},
      usedepartment_id = #{usedepartmentId,jdbcType=BIGINT},
      username = #{username,jdbcType=VARCHAR},
      equipment_port_id = #{equipmentPortId,jdbcType=BIGINT},
      expense_id = #{expenseId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=VARCHAR},
      creator_id = #{creatorId,jdbcType=BIGINT},
      workplace_id = #{workplaceId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>