<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dgpalife.resourcemanagement.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.dgpalife.resourcemanagement.model.User">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="LoginAcct" jdbcType="VARCHAR" property="loginacct" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="CreateTime" jdbcType="VARCHAR" property="createtime" />
    <result column="LastLogin" jdbcType="VARCHAR" property="lastlogin" />
    <result column="Status" jdbcType="VARCHAR" property="status" />
    <result column="contact" jdbcType="VARCHAR" property="contact" />
  </resultMap>
  <sql id="Base_Column_List">
    id, LoginAcct, username, password, CreateTime, LastLogin, Status,contact
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_user
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_user
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.dgpalife.resourcemanagement.model.User">
    insert into t_user (id, username, password,
      CreateTime, LastLogin, Status,contact
      )
    values (#{id,jdbcType=BIGINT},#{loginacct,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},
      #{createtime,jdbcType=VARCHAR}, #{lastlogin,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR},#{contact,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.dgpalife.resourcemanagement.model.User">
    insert into t_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="loginacct != null">
        LoginAcct,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="createtime != null">
        CreateTime,
      </if>
      <if test="lastlogin != null">
        LastLogin,
      </if>
      <if test="status != null">
        Status,
      </if>
      <if test="contact != null">
        contact
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="loginacct != null">
        #{loginacct,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=VARCHAR},
      </if>
      <if test="lastlogin != null">
        #{lastlogin,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="contact != null">
        #{contact,jdbcType=VARCHAR}
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dgpalife.resourcemanagement.model.User">
    update t_user
    <set>
      <if test="loginacct != null">
        LoginAcct = #{loginacct,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        CreateTime = #{createtime,jdbcType=VARCHAR},
      </if>
      <if test="lastlogin != null">
        LastLogin = #{lastlogin,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        Status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="contact != null">
        contact = #{contact,jdbcType=VARCHAR}
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dgpalife.resourcemanagement.model.User">
    update t_user
    set  LoginAcct = #{loginacct,jdbcType=VARCHAR},
      username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      CreateTime = #{createtime,jdbcType=VARCHAR},
      LastLogin = #{lastlogin,jdbcType=VARCHAR},
      Status = #{status,jdbcType=VARCHAR},
      contact = #{contact,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="selectUserByUserNameAndPassword" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_user
    where
    LoginAcct = #{loginacct,jdbcType=VARCHAR}
    and
    password = #{password,jdbcType=VARCHAR}
  </select>

  <update id="updateLastLoginTime">
    UPDATE t_user set LastLogin = #{lastlogin}  where id = #{id}

  </update>

  <select id="selectUserList"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from t_user
    <where>
      <if test="queryText != null">
        username like concat("%",#{queryText},"%")
      </if>
    </where>
    ORDER BY createtime DESC
    limit #{startline}, #{pagesize}
  </select>

  <select id="selectCount" resultType="java.lang.Integer">
    select count(id) from t_user
    <where>
      <if test="queryText!=null">
        username like concat("%",#{queryText},"%")
      </if>
    </where>
  </select>

  <select id="selectUserByLoginAccAndUserPassword" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from t_user
    where
    LoginAcct = #{loginacct}
    and
    password = #{password}
  </select>

  <select id="queryUserByDistrictID" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from t_user
    where
    district_id = #{district_id}
  </select>

</mapper>